{% extends 'base.html' %}

{% load social_share %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}

 <!-- Start of Page Header -->
 <div class="page-header">
    <div class="container">
        <h1 class="page-title mb-0">{{ post.title }}</h1>
    </div>
</div>
<!-- End of Page Header -->

<!-- Start of Breadcrumb -->
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb bb-no">
            <li><a href="{% url 'home_view' %}">خانه </a></li>
            <li><a href="{% url 'post_list' %}">بلاگ </a></li>
            <li>{{ post.title }}</li>
        </ul>
    </div>
</nav>
<!-- End of Breadcrumb -->

<!-- Start of Page Content -->
<div class="page-content mb-8">
    <div class="container">
        <div class="row gutter-lg">
            <div class="col-10 mx-auto post-single-content">
                <div class="post post-grid post-single">
                    <figure class="post-media br-sm">
                        <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" width="930" height="500" />
                    </figure>
                    <div class="post-details">
                        <div class="post-meta">
                            توسط :<a href="#" class="post-author">{{ post.author.username }}</a>,
                            دسته بندی :<a href="{{ post.category.get_absolute_url }}" class="post-author">{{ post.category.name }}</a>,
                            تاریخ بروزرسانی :<a href="#" class="post-date">{{ post.created_at }}</a>,
                            <a href="#" class="post-comment"><i class="w-icon-comments"></i><span>0</span>نظرات </a>
                        </div>
                        <h2 class="post-title"><a href="#">{{ post.title }}</a></h2>
                        <div class="post-content">
                            <p>{{ post.body|safe  }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="tags">
                    <label class="text-dark mr-2">برچسب ها: </label>
                    <a href="#" class="tag">مد </a>                    
                </div>
                <!-- End Tag -->
                <div class="social-links mb-10">
                    <div class="social-icons social-no-color border-thin">                        
                        <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                        <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                        <a href="#" class="social-icon social-instagram w-icon-instagram"></a>
                        <a href="#" class="social-icon social-youtube w-icon-youtube"></a>
                    </div>
                </div>
                <!-- End Social Links -->
                <div class="post-author-detail">
                    <figure class="author-media mr-4">
                        <img src="{{ post.author.profile.avatar.url }}" alt="{{ post.author.username }}" width="105" height="105" />
                    </figure>
                    <div class="author-details">
                        <div class="author-name-wrapper flex-wrap mb-2">
                            <h4 class="author-name font-weight-bold mb-2 pr-4 mr-auto">{{ post.author.username }}
                                <span class="font-weight-normal text-default">(نویسنده)</span>
                            </h4>
                            <a href="#" class="btn btn-primary btn-link btn-icon-right pb-0 text-normal font-weight-normal mb-2">پست های بیشتر توسط نویسنده<i class="w-icon-long-arrow-left"></i></a>
                        </div>
                        <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. . </p>
                    </div>
                </div>
                <!-- End Post Author Detail -->
                <div class="post-navigation">
                    <div class="nav nav-prev">
                        <a href="#" class="align-items-start text-left">
                            <span><i class="w-icon-long-arrow-right"></i>پست قبلی</span>
                            <span class="nav-content mb-0 text-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. با تولید سادگی</span>
                        </a>
                    </div>
                    <div class="nav nav-next"> 
                        <a href="#" class="align-items-end text-right">
                            <span>پست بعدی <i class="w-icon-long-arrow-left"></i></span>
                            <span class="nav-content mb-0 text-normal">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</span>
                        </a>
                    </div>
                </div>
                <!-- End Post Navigation -->
                <h4 class="title title-lg font-weight-bold mt-10 pt-1 mb-5">پست های اخیر</h4>
                <div class="swiper">
                    <div class="post-slider swiper-container swiper-theme nav-top pb-2" data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 1,
                        'breakpoints': {
                            '576': {
                                'slidesPerView': 2
                            },
                            '768': {
                                'slidesPerView': 3
                            },
                            '992': {
                                'slidesPerView': 2
                            },
                            '1200': {
                                'slidesPerView': 3
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-xs-2 cols-1">
                            <div class="swiper-slide post post-grid">
                                <figure class="post-media br-sm">
                                    <a href="post-single.html">
                                        <img src="assets/images/blog/single/2.jpg" alt="Post" width="296"
                                            height="190" style="background-color: #bcbcb4;" />
                                    </a>
                                </figure>
                                <div class="post-details text-center">
                                    <div class="post-meta">
                                        توسط <a href="#" class="post-author">لوگان لی</a>
                                        - <a href="#" class="post-date">1401.1.23</a>
                                    </div>
                                    <h4 class="post-title mb-3"><a href="post-single.html">مد در مورد اینکه از چه کسی هستید بگویید...</a></h4>
                                    <a href="post-single.html" class="btn btn-link btn-dark btn-underline font-weight-normal">ادامه مطلب <i class="w-icon-long-arrow-left"></i></a>
                                </div>
                            </div>                            
                        </div>
                        <button class="swiper-button-next"></button>
                        <button class="swiper-button-prev"></button>
                    </div>
                </div>
                <!-- End پست های اخیر -->
                
                <h4 class="title title-lg font-weight-bold pt-1 mt-10">0 نظرات </h4>
                <ul class="comments list-style-none pl-0">
                    <li class="comment">
                        <div class="comment-body">
                            <figure class="comment-avatar">
                                <img src="assets/images/blog/single/1.png" alt="Avatar" width="90" height="90" />
                            </figure>
                            <div class="comment-content">
                                <h4 class="comment-author font-weight-bold">
                                    <a href="#">جان دوو</a>
                                    <span class="comment-date">خرداد 1401</span>
                                </h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                <a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">پاسخ <i class="w-icon-long-arrow-left"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="comment">
                        <div class="comment-body">
                            <figure class="comment-avatar">
                                <img src="assets/images/blog/single/2.png" alt="Avatar" width="90" height="90" />
                            </figure>
                            <div class="comment-content">
                                <h4 class="comment-author font-weight-bold">
                                    <a href="#">سیمی کالون </a>
                                    <span class="comment-date">خرداد 1401</span>
                                </h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                <a href="#" class="btn btn-dark btn-link btn-underline btn-icon-right btn-reply">پاسخ <i class="w-icon-long-arrow-left"></i></a>
                            </div>  
                        </div>
                    </li>                    
                </ul>
                <!-- End Comments -->
                <form class="reply-section pb-4">
                    <h4 class="title title-md font-weight-bold pt-1 mt-10 mb-0">پیامی بگذارید</h4>
                    <p>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند</p>
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <input type="text" class="form-control" placeholder="نام خود را وارد کنید" id="name">
                        </div>
                        <div class="col-sm-6 mb-4">
                            <input type="text" class="form-control" placeholder="لینک را وارد کنید " id="email_1">
                        </div>
                    </div>
                    <textarea cols="30" rows="6" placeholder="نوشتن یک نظر" class="form-control mb-4" id="comment"></textarea>
                    <button class="btn btn-dark btn-rounded btn-icon-right btn-comment">پست کردن نظر<i class="w-icon-long-arrow-left"></i></button>
                </form>
            </div>
            <!-- End of Main Content -->           
        </div>
    </div>
</div>
<!-- End of Page Content -->

{% endblock content %}
