{% extends 'base.html' %}

{% load jalali_tags static %}

{% block title %}
حساب کاربری
{% endblock title %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock scripts %}

{% block content %}

<div  class="my-account">
  <!-- Start of Page Header -->
  <div class="page-header">
    <div class="container">
        <h1 class="page-title mb-0">حساب کاربری</h1>
    </div>
</div>
<!-- End of Page Header -->

<!-- Start of Breadcrumb -->
<nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="demo1.html">خانه </a></li>
            <li>حساب کاربری</li>
        </ul>
    </div>
</nav>
<!-- End of Breadcrumb -->

<!-- Start of PageContent -->
<div class="page-content pt-2">
    <div class="container">
        <div class="tab tab-vertical row gutter-lg">
            <ul class="nav nav-tabs mb-6" role="tablist">
                <li class="nav-item">
                    <a href="{% url 'account_index' %}" class="nav-link active">داشبورد</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_orders' %}" class="nav-link">سفارشات </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_payments' %}" class="nav-link">پرداخت ها </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_addresses' %}" class="nav-link">آدرس ها  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_setting' %}" class="nav-link">جزئیات حساب </a>
                </li>
                <li class="link-item">
                    <a href="wishlist.html">علاقه مندیها </a>
                </li>
                <li class="link-item">
                    <a href="{% url 'logout' %}">خروج </a>
                </li>
            </ul>

            <div class="tab-content mb-6">
                {% block inner %}{% endblock inner %}                                                                 
            </div>
        </div>
    </div>
</div>
<!-- End of PageContent -->

</div>

{% endblock content %}