{% extends 'accounts/base.html' %}

{% block title %} تنظیمات حساب {% endblock title %}

{% block inner %}

<div class="tab-pane active in" id="account-details">
    <div class="icon-box icon-box-side icon-box-light">
        <span class="icon-box-icon icon-account mr-2">
            <i class="w-icon-user"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title mb-0 ls-normal">جزئیات حساب </h4>
        </div>
    </div>
    <form class="form account-details-form" action="#" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first_name"> نام *</label>
                    <input type="text" id="first_name" name="first_name" placeholder="جعفر"
                        class="form-control form-control-md" value="{{ user.first_name }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last_name"> نام خانوادگی  *</label>
                    <input type="text" id="last_name" name="last_name" placeholder="عباسی"
                        class="form-control form-control-md" value="{{ user.last_name }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username"> نام کاربری *</label>
                    <input type="text" id="username" name="username" placeholder="admin"
                        class="form-control form-control-md" value="{{ user.username }}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email"> ایمیل *</label>
                    <input type="text" id="email" name="email" 
                        class="form-control form-control-md" value={{ user.email }}>
                </div>
            </div>
        </div>

      
        <h4 class="title title-password ls-25 font-weight-bold">تغییر رمز </h4>
        <div class="form-group">
            <label class="text-dark" for="cur-password">رمز عبور فعلی را خالی بگذارید تا بدون تغییر باقی بماند</label>
            <input type="password" class="form-control form-control-md"
                id="cur-password" name="cur_password">
        </div>
        <div class="form-group">
            <label class="text-dark" for="new-password">رمز عبور جدید را خالی بگذارید تا بدون تغییر باقی بماند</label>
            <input type="password" class="form-control form-control-md"
                id="new-password" name="new_password">
        </div>
        <div class="form-group mb-10">
            <label class="text-dark" for="conf-password">تایید رمز عبور </label>
            <input type="password" class="form-control form-control-md"
                id="conf-password" name="conf_password">
        </div>


        <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4">ذخیره تغییرات </button>
    </form>
</div>

{% endblock inner %}