{% extends 'accounts/base.html' %}

{% block title %} آدرس ها {% endblock title %}

{% block inner %} 

<div class="tab-pane active in" id="account-addresses">
    <div class="icon-box icon-box-side icon-box-light">
        <span class="icon-box-icon icon-map-marker">
            <i class="w-icon-map-marker"></i>
        </span>
        <div class="icon-box-content">
            <h4 class="icon-box-title mb-0 ls-normal">آدرس ها </h4>
        </div>
    </div>
    <p>آدرس های زیر به طور پیش فرض در صفحه پرداخت استفاده می شود.</p>
    <div class="row">
        <div class="col-sm-6 mb-6">
            <div class="ecommerce-address billing-address pr-lg-8">
                <h4 class="title title-underline ls-25 font-weight-bold">آدرس قبض </h4>
                <address class="mb-4">
                    <table class="address-table">
                        <tbody>
                            <tr>
                                <th>نام:</th>
                                <td>جعفر خان </td>
                            </tr>
                            <tr>
                                <th>شرکت: </th>
                                <td>راست چین </td>
                            </tr>
                            <tr>
                                <th>آدرس: </th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>شهر:</th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>کشور:</th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>کد پستی :</th>
                                <td>92020</td>
                            </tr>
                            <tr>
                                <th>تلفن: </th>
                                <td>1112223334</td>
                            </tr>
                        </tbody>
                    </table>
                </address>
                <a href="#"
                    class="btn btn-link btn-underline btn-icon-right text-primary">آدرس صورتحساب خود را ویرایش کنید<i class="w-icon-long-arrow-left"></i></a>
            </div>
        </div>
        <div class="col-sm-6 mb-6">
            <div class="ecommerce-address shipping-address pr-lg-8">
                <h4 class="title title-underline ls-25 font-weight-bold">آدرس حمل و نقل
                <address class="mb-4">
                    <table class="address-table">
                        <tbody>
                            <tr>
                                <th>نام:</th>
                                <td>جعفر خان </td>
                            </tr>
                            <tr>
                                <th>شرکت: </th>
                                <td>راست چین </td>
                            </tr>
                            <tr>
                                <th>آدرس: </th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>شهر:</th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>کشور:</th>
                                <td>پاناما </td>
                            </tr>
                            <tr>
                                <th>کد پستی :</th>
                                <td>92020</td>
                            </tr>
                        </tbody>
                    </table>
                </address>
                <a href="#"
                    class="btn btn-link btn-underline btn-icon-right text-primary">آدرس حمل و نقل خود را ویرایش کنید<i class="w-icon-long-arrow-left"></i></a>
            </div>
        </div>
    </div>
</div>


{% endblock inner %}