<article class="post post-list post-listing mb-md-10 mb-6 pb-2 overlay-zoom mb-4">
    <figure class="post-media br-sm">
        <a href="{{ post.get_absolute_url }}">
            <img src="{{ post.thumbnail.url }}" width="930"
                height="500" alt="blog">
        </a>
    </figure>
    <div class="post-details">
        <div class="post-cats text-primary">
            <a href="{{ post.category.get_absolute_url }}"> {{ post.category }} </a>
        </div>
        <h4 class="post-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        <div class="post-content">
            <p>{{ post.body|striptags|truncatewords:5 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-link btn-primary">(ادامه مطلب)</a>
        </div>
        <div class="post-meta">
            توسط <a href="#" class="post-author">{{ post.author.username }}</a>
            - <a href="#" class="post-date">{{ post.created_at }}</a>
        </div>
    </div>
</article>