{% load static %}

<h1 class="d-none">قالب فروشگاهی چند فروشندگی وولمارت</h1>

      <!-- Start of Header -->
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="header-left">
              <p class="welcome-msg">
                به فروشگاه دیجی شاپ خوش آمدید.
              </p>
            </div>
            <div class="header-right pr-0">
           
              <!-- End of Dropdown Menu -->
              <span class="divider d-lg-show"></span>

              <a href="{% url 'product_list' %}" class="d-lg-show">فروشگاه </a>
              <a href="{% url 'post_list' %}" class="d-lg-show">بلاگ </a>
              <a href="{% url 'contact_view' %}" class="d-lg-show"
                >تماس با ما
              </a>

              {% if user.is_authenticated %}
              <a href="{% url 'account_index' %}" class="d-lg-show">حساب کاربری </a>
              <a href="{% url 'logout' %}" class="d-lg-show">خروج </a>
              {% else %}
              <a href="{% url 'login_view' %}" class="d-lg-show"
                ><i class="w-icon-account"></i>ورود
              </a>
              <span class="delimiter d-lg-show">/</span>
              <a href="{% url 'register_view' %}" class="ml-0 d-lg-show"
                >ثبت نام
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End of Header Top -->

        <div class="header-middle">
          <div class="container">
            <div class="header-left mr-md-4">
              <a
                href="#"
                class="mobile-menu-toggle w-icon-hamburger"
                aria-label="menu-toggle"
              >
              </a>
              <a href="{% url 'home_view' %}" class="logo ml-lg-0">
                <img
                  src="{% static 'images/logo.png' %}"
                  alt="logo"
                  width="144"
                  height="45"
                />
              </a>
              <nav class="main-nav">
                <ul class="menu">
                  <li class="active">
                    <a href="{% url 'home_view' %}">خانه </a>
                  </li>
                  <li>
                    <a href="shop-banner-sidebar.html">فروشگاه </a>

                    <!-- Start of Megamenu -->
                    <ul class="megamenu">
                      <li>
                        <h4 class="menu-title">صفحات فروشگاه</h4>
                        <ul>
                          <li>
                            <a href="shop-both-sidebar.html"
                              >هر دو نوار کناری
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">چیدمان فروشگاه</h4>
                        <ul>
                          <li>
                            <a href="shop-list-sidebar.html"
                              >حالت فهرست با نوار کناری</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">صفحات محصول</h4>
                        <ul>
                          <li>
                            <a href="product-video.html"
                              >360<sup>درجه </sup> ویدئو
                              <span class="tip tip-new">جدید </span></a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">چیدمان محصولات</h4>
                        <ul>
                          <li>
                            <a href="product-sticky-both.html">هردو چسبناک </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <!-- End of Megamenu -->
                  </li>
                  <li>
                    <a href="vendor-dokan-store.html">فروشنده </a>
                    <ul>
                      <li>
                        <a href="vendor-dokan-store-list.html"
                          >فهرست فروشگاه
                        </a>
                        <ul>
                          <li>
                            <a href="vendor-dokan-store-list.html"
                              >فهرست فروشگاه 1</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">صفحات </a>
                    <ul>
                      <li><a href="{% url 'about_view' %}">درباره ما </a></li>
                      <li><a href="{% url 'contact_view' %}">تماس ما </a></li>
                      <li><a href="{% url 'faqs_view' %}">سوالات متداول </a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-right ml-4">
              <div class="header-call d-xs-show d-lg-flex align-items-center">
                <a href="tel:#" class="w-icon-call"></a>
                <div class="call-info d-xl-show">
                  <h4
                    class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0"
                  >
                    <a href="mailto:#" class="text-capitalize">تماس با ما:</a>
                  </h4>
                  <a href="tel:#" class="phone-number font-weight-bolder ls-50"
                    >0(800)123-456</a
                  >
                </div>
              </div>
              <a
                class="wishlist label-down link d-xs-show"
                href="{% url 'wishlist' %}"
              >
                <i class="w-icon-heart"></i>
                <span class="wishlist-label d-lg-show">علاقه مندیها </span>
              </a>
              <a
                class="compare label-down link d-xs-show"
                href="{% url 'compare' %}"
              >
                <i class="w-icon-compare"></i>
                <span class="compare-label d-lg-show">مقایسه کردن </span>
              </a>
              <div class="dropdown cart-dropdown mr-0 mr-lg-2">
                <div class="cart-overlay"></div>
                <a href="#" class="cart-toggle label-down link">
                  <i class="w-icon-cart">
                    <span class="cart-count">0</span>
                  </i>
                  <span class="cart-label">سبد </span>
                </a>
                <div class="dropdown-box">
                  <div class="products">
                    <div class="product product-cart">
                      <div class="product-detail">
                        <a href="product-default.html" class="product-name"
                          >الیس بافتنی بژ<br />کفش دونده تیک</a
                        >
                        <div class="price-box">
                          <span class="product-quantity">1</span>
                          <span class="product-price">25600 تومان</span>
                        </div>
                      </div>
                      <figure class="product-media">
                        <a href="product-default.html">
                          <img
                            src="{% static 'images/cart/product-1.jpg' %}"
                            alt="product"
                            height="84"
                            width="94"
                          />
                        </a>
                      </figure>
                      <button
                        class="btn btn-link btn-close"
                        aria-label="button"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>

                  <div class="cart-total">
                    <label>مجموع: </label>
                    <span class="price">0 تومان</span>
                  </div>

                  <div class="cart-action">
                    <a
                      href="{% url 'cart' %}"
                      class="btn btn-dark btn-outline btn-rounded"
                      >سبد خرید
                    </a>
                    <a
                      href="{% url 'checkout' %}"
                      class="btn btn-primary btn-rounded"
                      >پرداخت
                    </a>
                  </div>
                </div>
                <!-- End of Dropdown Box -->
              </div>
            </div>
          </div>
        </div>
        <!-- End of Header Middle -->

        <div class="header-bottom sticky-content fix-top sticky-header">
          <div class="container">
            <div class="inner-wrap">
              <div class="header-left flex-1">
                <div
                  class="dropdown category-dropdown has-border"
                  data-visible="true"
                >
                  <a
                    href="#"
                    class="category-toggle"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                    data-display="static"
                    title="کاوش دسته بندیها "
                  >
                    <i class="w-icon-category"></i>
                    <span>کاوش دسته بندیها </span>
                  </a>

                  <div class="dropdown-box">
                    <ul class="menu vertical-menu category-menu">
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-tshirt2"></i>مدل
                        </a>
                        <ul class="megamenu">
                          <li>
                            <h4 class="menu-title">زنانه</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >تازه رسیده ها
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <h4 class="menu-title">زنانه</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >تازه رسیده ها
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <div class="banner-fixed menu-banner menu-banner2">
                              <figure>
                                <img
                                  src="{% static '' %}images/banner-2.jpg"
                                  alt="Menu Banner"
                                  width="235"
                                  height="347"
                                />
                              </figure>
                              <div class="banner-content">
                                <div class="banner-price-info mb-1 ls-normal">
                                  دریافت کنید
                                  <strong class="text-primary text-uppercase"
                                    >20 % تخفیف</strong
                                  >
                                </div>
                                <h3 class="banner-title ls-normal">فروش داغ</h3>
                                <a
                                  href="shop-banner-sidebar.html"
                                  class="btn btn-dark btn-sm btn-link btn-slide-right btn-icon-right"
                                >
                                  اکنون بخرید
                                  <i class="w-icon-long-arrow-left"></i>
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-home"></i>خانه و باغ
                        </a>
                        <ul class="megamenu">
                          <li>
                            <h4 class="menu-title">بدروم</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html">اسلحه </a>
                              </li>
                            </ul>

                            <h4 class="menu-title mt-1">هال</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >کابینت و صندوقچه</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li>
                            <h4 class="menu-title">دفتر</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >اتاق استراحت جداول
                                </a>
                              </li>
                            </ul>

                            <h4 class="menu-title mt-1">آشپزخانه و غذاخوری</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >چهارپایه بار
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <div class="menu-banner banner-fixed menu-banner3">
                              <figure>
                                <img
                                  src="{% static '' %}images/menu/banner-3.jpg"
                                  alt="Menu Banner"
                                  width="235"
                                  height="461"
                                />
                              </figure>
                              <div class="banner-content">
                                <h4
                                  class="banner-subtitle font-weight-normal text-white mb-1"
                                >
                                  سرویس بهداشتی
                                </h4>
                                <h3
                                  class="banner-title font-weight-bolder text-white ls-normal"
                                >
                                  فروش مبلمان
                                </h3>
                                <div
                                  class="banner-price-info text-white font-weight-normal ls-25"
                                >
                                  تا
                                  <span
                                    class="text-secondary text-uppercase font-weight-bold"
                                    >25% تخفیف</span
                                  >
                                </div>
                                <a
                                  href="shop-banner-sidebar.html"
                                  class="btn btn-white btn-link btn-sm btn-slide-right btn-icon-right"
                                >
                                  اکنون بخرید
                                  <i class="w-icon-long-arrow-left"></i>
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-furniture"></i> مبلمان
                        </a>
                        <ul class="megamenu type2">
                          <li class="row">
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">مبلمان</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >مبل و کاناپه</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">نورپردازی</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html">لامپ </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">لوازم جانبی خانه</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >تجهیزات جانبی تزئینی
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">باغ و فضای باز</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >تجهیزات باغی</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="row">
                            <div class="col-6">
                              <div
                                class="banner banner-fixed menu-banner5 br-xs"
                              >
                                <figure>
                                  <img
                                    src="{% static '' %}images/menu/banner-5.jpg"
                                    alt="Banner"
                                    width="410"
                                    height="123"
                                    style="background-color: #d2d2d2"
                                  />
                                </figure>
                                <div class="banner-content text-right y-50">
                                  <h4
                                    class="banner-subtitle font-weight-normal text-default text-capitalize"
                                  >
                                    تازه رسیده ها
                                  </h4>
                                  <h3
                                    class="banner-title font-weight-bolder text-capitalize ls-normal"
                                  >
                                    مبل شگفت انگیز
                                  </h3>
                                  <div
                                    class="banner-price-info font-weight-normal ls-normal"
                                  >
                                    شروع از <strong>125000 تومان</strong>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div
                                class="banner banner-fixed menu-banner5 br-xs"
                              >
                                <figure>
                                  <img
                                    src="{% static '' %}images/menu/banner-6.jpg"
                                    alt="Banner"
                                    width="410"
                                    height="123"
                                    style="background-color: #9f9888"
                                  />
                                </figure>
                                <div class="banner-content y-50">
                                  <h4
                                    class="banner-subtitle font-weight-normal text-white text-capitalize"
                                  >
                                    پرفروش
                                  </h4>
                                  <h3
                                    class="banner-title font-weight-bolder text-capitalize text-white ls-normal"
                                  >
                                    صندلی و لامپ
                                  </h3>
                                  <div
                                    class="banner-price-info font-weight-normal ls-normal text-white"
                                  >
                                    از جانب <strong>165000 تومان</strong>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-ruby"></i>تجهیزات جانبی
                        </a>
                      </li>
                      <li>
                        <a
                          href="shop-banner-sidebar.html"
                          class="font-weight-bold text-primary text-uppercase ls-25"
                        >
                          نمایش همه دسته بندیها
                          <i class="w-icon-angle-left"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <form
                  method="get"
                  action="#"
                  class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper mr-4 ml-4"
                >
                  <div class="select-box">
                    <select id="category" name="category">
                      <option value="">دسته بندیها</option>
                    </select>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="search"
                    id="search"
                    placeholder="جستجو کنید ..."
                    required
                  />
                  <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                  </button>
                </form>
              </div>
              <div class="header-right pr-0 ml-4">
                <a href="#" class="d-xl-show mr-6"
                  ><i class="w-icon-map-marker mr-1"></i>پیگیری سفارش
                </a>
                <a href="#"><i class="w-icon-sale"></i>معاملات روزانه </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- End of Header -->