{% load static %}

<!-- Start of Footer -->
<footer
  class="footer appear-animate"
  data-animation-options="{
            'name': 'fadeIn'
        }"
>
  <div class="footer-newsletter bg-primary pt-6 pb-6">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-6">
          <div class="icon-box icon-box-side text-white">
            <div class="icon-box-icon d-inline-flex">
              <i class="w-icon-envelop3"></i>
            </div>
            <div class="icon-box-content">
              <h4 class="icon-box-title text-white text-uppercase mb-0">
                مشترک شدن در خبرنامه ما
              </h4>
              <p class="text-white">
                تمام آخرین اطلاعات در مورد رویدادها، فروش ها و پیشنهادات را
                دریافت کنید.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0">
          <form
            action="#"
            method="get"
            class="input-wrapper input-wrapper-inline input-wrapper-rounded"
          >
            <input
              type="email"
              class="form-control mr-2 bg-white"
              name="email"
              id="email"
              placeholder="آدرس ایمیل "
            />
            <button class="btn btn-dark btn-rounded" type="submit">
              اشتراک در <i class="w-icon-long-arrow-left"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="widget widget-about">
            <a href="{% url 'home_view' %}" class="logo-footer">
              <img
                src="{% static 'images/logo.png' %}"
                alt="logo-footer"
                width="144"
                height="45"
              />
            </a>
            <div class="widget-body">
              <p class="widget-about-title">سوالی دارید؟ تماس بگیرید</p>
              <a href="tel:18005707777" class="widget-about-call"
                >1-800-570-7777</a
              >
              <p class="widget-about-desc">
                برای دریافت بروز رسانی با ما هماهنگ شوید.
              </p>

              <div class="social-icons social-icons-colored">
                <a
                  href="#"
                  class="social-icon social-facebook w-icon-facebook"
                ></a>
                <a
                  href="#"
                  class="social-icon social-twitter w-icon-twitter"
                ></a>
                <a
                  href="#"
                  class="social-icon social-instagram w-icon-instagram"
                ></a>
                <a
                  href="#"
                  class="social-icon social-youtube w-icon-youtube"
                ></a>
                <a
                  href="#"
                  class="social-icon social-pinterest w-icon-pinterest"
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h3 class="widget-title">دیجی شاپ</h3>
            <ul class="widget-body">
              <li><a href="{% url 'about_view' %}">درباره ما </a></li>
              <li><a href="{% url 'contact_view' %}">تماس با ما </a></li>
              <li><a href="#">اعضای تیم </a></li>
              <li><a href="#">شغل </a></li>
              <li><a href="#">وابسته </a></li>
              <li><a href="#">تاریخچه سفارش ها </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">حساب کاربری</h4>
            <ul class="widget-body">
              <li><a href="#">پیگیر سفارشات من </a></li>
              <li><a href="{% url 'cart' %}">سبد خرید </a></li>
              <li><a href="{% url 'login_view' %}">ورود </a></li>
              <li><a href="#">راهنما </a></li>
              <li>
                <a href="{% url 'wishlist' %}">علاقه مندیهای من </a>
              </li>
              <li><a href="#">سیاست حفظ حریم خصوصی </a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="widget">
            <h4 class="widget-title">خدمات مشتری</h4>
            <ul class="widget-body">
              <li><a href="#">روش های پرداخت </a></li>
              <li><a href="#">تضمین بازگشت پول! </a></li>
              <li><a href="#">محصول بازگشتی </a></li>
              <li><a href="#">مرکز پشتیبانی </a></li>
              <li><a href="#">حمل دریایی </a></li>
              <li><a href="#">مدت و شرایط</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="widget widget-category">
        <div class="category-box">
          <h6 class="category-name">مصرف کننده برق:</h6>
          <a href="#">تلویزیون</a>
          <a href="#">نمایش همه </a>
        </div>
        <div class="category-box">
          <h6 class="category-name">کامپیوتر و فناوری:</h6>
          <a href="#">لپ تاپ </a>
          <a href="#">نمایش همه </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-left">
        <p class="copyright">
          کپی رایت © 1401 فروشگاه وولمارت. تمامی حقوق محفوظ است..
        </p>
      </div>
      <div class="footer-right">
        <span class="payment-label mr-lg-8"
          >ما از پرداخت مطمئن استفاده می کنیم</span
        >
        <figure class="payment">
          <img
            src="{% static 'images/payment.png' %}"
            alt="payment"
            width="159"
            height="25"
          />
        </figure>
      </div>
    </div>
  </div>
</footer>
<!-- End of Footer -->
