<ul class="pagination justify-content-center">

    {% if page_obj.has_previous  %}
    <li class="prev">
        <a href="?page={{ page_obj.previous_page_number }}" aria-label="قبلی" tabindex="-1" aria-disabled="true">
            <i class="w-icon-long-arrow-right"></i>قبلی
        </a>
    </li>
    {% endif %}

    
    {% comment %} <li class="page-item active">
        <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li> {% endcomment %}

     {% for i in page_obj.paginator.page_range %}
        {% if i == page_obj.number %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }}</a>
        </li>
        {% else %}
        {{ i }}
        {% endif %}

    {% endfor %} 

    {% if page_obj.has_next %}
        <li class="next">
            <a href="?page={{ page_obj.next_page_number }}" aria-label="بعدی">
            بعدی <i class="w-icon-long-arrow-left"></i>
            </a>
        </li>
    {% endif %}

</ul>
