<div class="product product-single product-popup">
    <div class="row gutter-lg">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="product-gallery product-gallery-sticky">
          <div
            class="swiper-container product-single-swiper swiper-theme nav-inner"
          >
            <div class="swiper-wrapper row cols-1 gutter-no">
              <div class="swiper-slide">
                <figure class="product-image">
                  <img
                    src="{% static '' %}images/products/popup/1-440x494.jpg"
                    data-zoom-image="{% static '' %}images/products/popup/1-800x900.jpg"
                    alt="Water Boil Black Utensil"
                    width="800"
                    height="900"
                  />
                </figure>
              </div>
              <div class="swiper-slide">
                <figure class="product-image">
                  <img
                    src="{% static '' %}images/products/popup/2-440x494.jpg"
                    data-zoom-image="{% static '' %}images/products/popup/2-800x900.jpg"
                    alt="Water Boil Black Utensil"
                    width="800"
                    height="900"
                  />
                </figure>
              </div>
              <div class="swiper-slide">
                <figure class="product-image">
                  <img
                    src="{% static '' %}images/products/popup/3-440x494.jpg"
                    data-zoom-image="{% static '' %}images/products/popup/3-800x900.jpg"
                    alt="Water Boil Black Utensil"
                    width="800"
                    height="900"
                  />
                </figure>
              </div>
              <div class="swiper-slide">
                <figure class="product-image">
                  <img
                    src="{% static '' %}images/products/popup/4-440x494.jpg"
                    data-zoom-image="{% static '' %}images/products/popup/4-800x900.jpg"
                    alt="Water Boil Black Utensil"
                    width="800"
                    height="900"
                  />
                </figure>
              </div>
            </div>
            <button class="swiper-button-next"></button>
            <button class="swiper-button-prev"></button>
          </div>
          <div
            class="product-thumbs-wrap swiper-container"
            data-swiper-options="{
                      'navigation': {
                          'nextEl': '.swiper-button-next',
                          'prevEl': '.swiper-button-prev'
                      }
                  }"
          >
            <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
              <div class="product-thumb swiper-slide">
                <img
                  src="{% static '' %}images/products/popup/1-103x116.jpg"
                  alt="Product Thumb"
                  width="103"
                  height="116"
                />
              </div>
              <div class="product-thumb swiper-slide">
                <img
                  src="{% static '' %}images/products/popup/2-103x116.jpg"
                  alt="Product Thumb"
                  width="103"
                  height="116"
                />
              </div>
              <div class="product-thumb swiper-slide">
                <img
                  src="{% static '' %}images/products/popup/3-103x116.jpg"
                  alt="Product Thumb"
                  width="103"
                  height="116"
                />
              </div>
              <div class="product-thumb swiper-slide">
                <img
                  src="{% static '' %}images/products/popup/4-103x116.jpg"
                  alt="Product Thumb"
                  width="103"
                  height="116"
                />
              </div>
            </div>
            <button class="swiper-button-next"></button>
            <button class="swiper-button-prev"></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 overflow-hidden p-relative">
        <div class="product-details scrollable pl-0">
          <h2 class="product-title">ساعت مچی مشکی الکترونیکی</h2>
          <div class="product-bm-wrapper">
            <figure class="brand">
              <img
                src="{% static '' %}images/products/brand/brand-1.jpg"
                alt="Brand"
                width="102"
                height="48"
              />
            </figure>
            <div class="product-meta">
              <div class="product-categories">
                دسته بندی:
                <span class="product-category"
                  ><a href="#">الکترونیک </a></span
                >
              </div>
              <div class="product-sku">کد: <span>MS46891340</span></div>
            </div>
          </div>

          <hr class="product-divider" />

          <div class="product-price">80000 تومان</div>

          <div class="ratings-container">
            <div class="ratings-full">
              <span class="ratings" style="width: 80%"></span>
              <span class="tooltiptext tooltip-top"></span>
            </div>
            <a href="#" class="rating-reviews">(3 نظر )</a>
          </div>

          <div class="product-short-desc">
            <ul class="list-type-check list-style-none">
              <li>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت
                چاپ و با استفاده از طراحان گرافیک است..
              </li>
              <li>
                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                است و برای شرایط فعلی.
              </li>
              <li>
                مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..
              </li>
            </ul>
          </div>

          <hr class="product-divider" />

          <div
            class="product-form product-variation-form product-color-swatch"
          >
            <label>رنگ :</label>
            <div class="d-flex align-items-center product-variations">
              <a href="#" class="color" style="background-color: #ffcc01"></a>
              <a href="#" class="color" style="background-color: #ca6d00"></a>
              <a href="#" class="color" style="background-color: #1c93cb"></a>
              <a href="#" class="color" style="background-color: #ccc"></a>
              <a href="#" class="color" style="background-color: #333"></a>
            </div>
          </div>
          <div
            class="product-form product-variation-form product-size-swatch"
          >
            <label class="mb-1">سایز :</label>
            <div
              class="flex-wrap d-flex align-items-center product-variations"
            >
              <a href="#" class="size">کوچک </a>
              <a href="#" class="size">متوسط </a>
              <a href="#" class="size">بزرگ </a>
              <a href="#" class="size">خبلی بزرگ </a>
            </div>
            <a href="#" class="product-variation-clean">پاک کردن همه </a>
          </div>

          <div class="product-variation-price">
            <span></span>
          </div>

          <div class="product-form">
            <div class="product-qty-form">
              <div class="input-group">
                <input
                  class="quantity form-control"
                  type="number"
                  min="1"
                  max="10000000"
                />
                <button class="quantity-plus w-icon-plus"></button>
                <button class="quantity-minus w-icon-minus"></button>
              </div>
            </div>
            <button class="btn btn-primary btn-cart">
              <i class="w-icon-cart"></i>
              <span>افزودن به سبد </span>
            </button>
          </div>

          <div class="social-links-wrapper">
            <div class="social-links">
              <div class="social-icons social-no-color border-thin">
                <a
                  href="#"
                  class="social-icon social-facebook w-icon-facebook"
                ></a>
                <a
                  href="#"
                  class="social-icon social-twitter w-icon-twitter"
                ></a>
                <a
                  href="#"
                  class="social-icon social-pinterest fab fa-pinterest-p"
                ></a>
                <a
                  href="#"
                  class="social-icon social-whatsapp fab fa-whatsapp"
                ></a>
                <a
                  href="#"
                  class="social-icon social-youtube fab fa-linkedin-in"
                ></a>
              </div>
            </div>
            <span class="divider d-xs-show"></span>
            <div class="product-link-wrapper d-flex">
              <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                ><span></span
              ></a>
              <a
                href="#"
                class="btn-product-icon btn-compare btn-icon-left w-icon-compare"
                ><span></span
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>