{% load static %}
 
 <!-- Start of Sticky Footer -->
 <div class="sticky-footer sticky-content fix-bottom">
    <a href="{% url 'home_view' %}" class="sticky-link active">
      <i class="w-icon-home"></i>
      <p>خانه</p>
    </a>
    <a href="{% url 'product_list' %}" class="sticky-link">
      <i class="w-icon-category"></i>
      <p>فروشگاه</p>
    </a>
    <a href="my-account.html" class="sticky-link">
      <i class="w-icon-account"></i>
      <p>حساب کاربری</p>
    </a>
    <div class="cart-dropdown dir-up">
      <a href="{% url 'cart' %}" class="sticky-link">
        <i class="w-icon-cart"></i>
        <p>سبد خرید</p>
      </a>
      <div class="dropdown-box">
        <div class="products">
          <div class="product product-cart">
            <div class="product-detail">
              <h3 class="product-name">
                <a href="product-default.html"
                  >ما از پرداخت مطمئن استفاده می کنیم<br />کفش دونده تیک</a
                >
              </h3>
              <div class="price-box">
                <span class="product-quantity">1</span>
                <span class="product-price">25600 تومان</span>
              </div>
            </div>
            <figure class="product-media">
              <a href="product-default.html">
                <img
                  src="{% static '' %}images/cart/product-1.jpg"
                  alt="product"
                  height="84"
                  width="94"
                />
              </a>
            </figure>
            <button class="btn btn-link btn-close" aria-label="button">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <div class="cart-total">
          <label>مجموع: </label>
          <span class="price">0 تومان</span>
        </div>

        <div class="cart-action">
          <a
            href="{% url 'cart' %}"
            class="btn btn-dark btn-outline btn-rounded"
            >سبد خرید
          </a>
          <a href="{% url 'checkout' %}" class="btn btn-primary btn-rounded"
            >پرداخت
          </a>
        </div>
      </div>
      <!-- End of Dropdown Box -->
    </div>

    <div class="header-search hs-toggle dir-up">
      <a href="#" class="search-toggle sticky-link">
        <i class="w-icon-search"></i>
        <p>جستجو</p>
      </a>
      <form action="#" class="input-wrapper">
        <input
          type="text"
          class="form-control"
          name="search"
          autocomplete="off"
          placeholder="جستجو"
          required
        />
        <button class="btn btn-search" type="submit">
          <i class="w-icon-search"></i>
        </button>
      </form>
    </div>
  </div>
  <!-- End of Sticky Footer -->