{% extends "base.html" %} 

{% block content %}

<!-- Start of Page Content -->
<div class="page-content error-404">
  <div class="container">
    <div class="banner">
      <figure>
        <img
          src="assets/images/pages/404.png"
          alt="Error 404"
          width="820"
          height="460"
        />
      </figure>
      <div class="banner-content text-center">
        <h2 class="banner-title">
          <span class="text-secondary">اوپس!!!</span> اینجا مشکلی پیش آمد
        </h2>
        <p class="text-light">
          ممکن است در URL وارد شده اشتباه املایی وجود داشته باشد یا صفحه مورد
          نظر شما دیگر وجود نداشته باشد
        </p>
        <a href="demo1.html" class="btn btn-dark btn-rounded btn-icon-right"
          >برو صفحه اصلی<i class="w-icon-long-arrow-left"></i
        ></a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
