{% extends 'base.html' %}

{% block title %}محصول{% endblock title %}

{% block content %}
 <!-- Start of Breadcrumb -->
 <nav class="breadcrumb-nav container">
    <ul class="breadcrumb bb-no">
        <li><a href="{% url 'home_view' %}">خانه </a></li>
        <li><a href="{% url 'product_list' %}">فروشگاه</a></li>
        <li>{{ product.title }}</li>
    </ul>
    <ul class="product-nav list-style-none">
        <li class="product-nav-prev">
            <a href="#">
                <i class="w-icon-angle-right"></i>
            </a>
            <span class="product-nav-popup">
                <img src="assets/images/products/product-nav-prev.jpg" alt="Product" width="110"
                    height="110" />
                <span class="product-name">نرم صدا ساز</span>
            </span>
        </li>
        <li class="product-nav-next">                         <a href="#">                            <i class="w-icon-angle-left"></i>
            </a>
            <span class="product-nav-popup">
                <img src="assets/images/products/product-nav-next.jpg" alt="Product" width="110"
                    height="110" />
                <span class="product-name">بلندگوی صدای فوق العاده</span>
            </span>
        </li>
    </ul>
</nav>
<!-- End of Breadcrumb -->

<!-- Start of Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row gutter-lg">
            <div class="main-content">
                <div class="product product-single row">
                    <div class="col-md-6 mb-4 mb-md-8">
                        <div class="product-gallery product-gallery-sticky">
                            <div class="swiper-container product-single-swiper swiper-theme nav-inner" data-swiper-options="{
                                'navigation': {
                                    'nextEl': '.swiper-button-next',
                                    'prevEl': '.swiper-button-prev'
                                }
                            }">
                                <div class="swiper-wrapper row cols-1 gutter-no">
                                    <div class="swiper-slide">
                                        <figure class="product-image">
                                            <img src="{{ product.thumbnail.url }}"
                                                data-zoom-image="{{ product.thumbnail.url }}"
                                                alt="{{ product.title }}" width="800" height="900">
                                        </figure>
                                    </div>
                                    
                                </div>
                                <button class="swiper-button-next"></button>
                                <button class="swiper-button-prev"></button>
                                <a href="#" class="product-gallery-btn product-image-full"><i class="w-icon-zoom"></i></a>
                            </div>
                            <div class="product-thumbs-wrap swiper-container" data-swiper-options="{
                                'navigation': {
                                    'nextEl': '.swiper-button-next',
                                    'prevEl': '.swiper-button-prev'
                                }
                            }">
                                <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
                                    <div class="product-thumb swiper-slide">
                                        <img src="{{ product.thumbnail.url }}"
                                            alt="{{ product.title }}" width="800" height="900">
                                    </div>
                                 
                                </div>
                                <button class="swiper-button-next"></button>
                                <button class="swiper-button-prev"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-6 mb-md-8">
                        <div class="product-details" data-sticky-options="{'minWidth': 767}">
                            <h1 class="product-title">{{ product.title }}</h1>
                            <div class="product-bm-wrapper">
                                <figure class="brand">
                                    <a href={{ product.brand.get_absolute_url }}>
                                    <img src="{{ product.brand.logo.url }}" alt="{{ product.brand.title }}"
                                        width="105" height="48" /></a>
                                </figure>
                                <div class="product-meta">
                                    <div class="product-sku">
                                       کد:  <span>MS46891340</span>
                                    </div>
                                    <div class="product-categories">
                                        دسته بندی: 
                                        <span class="product-category"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }} </a></span>
                                    </div>
                                </div>
                            </div>

                            <hr class="product-divider">

                            <div class="product-price">
                                <ins class="new-price">{{ product.price }} تومان</ins>
                            </div>

                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width: 80%;"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="#product-tab-reviews" class="rating-reviews">(3 نظر )</a>
                            </div>

                            <div class="product-short-desc">
                                <ul class="list-type-check list-style-none">
                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است..</li>
                                    <li>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی.</li>
                                    <li>مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..</li>
                                </ul>
                            </div>

                            <hr class="product-divider">

                            <div class="product-form product-variation-form product-color-swatch">
                                <label>رنگ :</label>
                                <div class="d-flex align-items-center product-variations">
                                    <a href="#" class="color" style="background-color: #ffcc01"></a>
                                    <a href="#" class="color" style="background-color: #ca6d00;"></a>
                                    <a href="#" class="color" style="background-color: #1c93cb;"></a>
                                    <a href="#" class="color" style="background-color: #ccc;"></a>
                                    <a href="#" class="color" style="background-color: #333;"></a>
                                </div>
                            </div>
                            <div class="product-form product-variation-form product-size-swatch">
                                <label class="mb-1">سایز :</label>
                                <div class="flex-wrap d-flex align-items-center product-variations">
                                    <a href="#" class="size">کوچک </a>
                                    <a href="#" class="size">متوسط </a>
                                    <a href="#" class="size">بزرگ </a>
                                    <a href="#" class="size">خبلی بزرگ </a>
                                </div>
                                <a href="#" class="product-variation-clean">پاک کردن همه </a>
                            </div>

                            <div class="product-variation-price">
                                <span></span>
                            </div>

                            <div class="fix-bottom product-sticky-content sticky-content">
                                <div class="product-form container">
                                    <div class="product-qty-form">
                                        <div class="input-group">
                                            <input class="quantity form-control" type="number" min="1"
                                                max="10000000">
                                            <button class="quantity-plus w-icon-plus"></button>
                                            <button class="quantity-minus w-icon-minus"></button>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-cart">
                                        <i class="w-icon-cart"></i>
                                        <span>افزودن به سبد  </span>
                                    </button>
                                </div>
                            </div>

                            <div class="social-links-wrapper">
                                <div class="social-links">
                                    <div class="social-icons social-no-color border-thin">
                                        <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                        <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                        <a href="#"
                                            class="social-icon social-pinterest fab fa-pinterest-p"></a>
                                        <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                                        <a href="#"
                                            class="social-icon social-youtube fab fa-linkedin-in"></a>
                                    </div>
                                </div>
                                <span class="divider d-xs-show"></span>
                                <div class="product-link-wrapper d-flex">
                                    <a href="#"
                                        class="btn-product-icon btn-wishlist w-icon-heart"><span></span></a>
                                    <a href="#"
                                        class="btn-product-icon btn-compare btn-icon-left w-icon-compare"><span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab tab-nav-boxed tab-nav-underline product-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#product-tab-description" class="nav-link active">توضیحات</a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-tab-specification" class="nav-link">مشخصات </a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-tab-vendor" class="nav-link">اطلاعات فروشنده </a>
                        </li>
                        <li class="nav-item">
                            <a href="#product-tab-reviews" class="nav-link">نظرات (0)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="product-tab-description">
                            <div class="row mb-4">
                                <div class="col-md-10 mb-5">
                                    <h4 class="title tab-pane-title font-weight-bold mb-2">توضیحات </h4>
                                    <p class="mb-4">{{ product.body }}</p>                                  
                                </div>                              
                            </div>
                            <div class="row cols-md-3">
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold"><span class="mr-3">1.</span>ارسال رایگان و برگشت</h5>
                                    <p class="detail pl-5">ما برای سفارش های بالای 50 دلار ارسال رایگان برای محصولات ارائه می دهیم و برای همه سفارش ها در ایالات متحده تحویل رایگان ارائه می دهیم.</p>
                                </div>
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold"><span>2.</span>بازگشت رایگان و آسان</h5>
                                    <p class="detail pl-5">ما محصولات خود را تضمین می کنیم و شما می توانید در 30 روز هر زمان که بخواهید تمام پول خود را پس بگیرید.</p>
                                </div>
                                <div class="mb-3">
                                    <h5 class="sub-title font-weight-bold"><span>3.</span>تامین مالی ویژه
                                    </h5>
                                    <p class="detail pl-5">با کارت اعتباری ویژه ما اقلام تخفیف 20 تا 50 درصدی بیش از 50 دلار برای یک ماه یا بیش از 250 دلار برای یک سال دریافت کنید..</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="product-tab-specification">
                            <ul class="list-none">
                                <li>
                                    <label>مودال </label>
                                    <p>سایت اسمان 320</p>
                                </li>                              
                            </ul>
                        </div>
                        <div class="tab-pane" id="product-tab-vendor">
                            <div class="row mb-3">
                                <div class="col-md-6 mb-4">
                                    <figure class="vendor-banner br-sm">
                                        <img src="assets/images/products/vendor-banner.jpg"
                                            alt="Vendor Banner" width="610" height="295"
                                            style="background-color: #353B55;" />
                                    </figure>
                                </div>
                                <div class="col-md-6 pl-2 pl-md-6 mb-4">
                                    <div class="vendor-user">
                                        <figure class="vendor-logo mr-4">
                                            <a href="#">
                                                <img src="assets/images/products/vendor-logo.jpg"
                                                    alt="Vendor Logo" width="80" height="80" />
                                            </a>
                                        </figure>
                                        <div>
                                            <div class="vendor-name"><a href="#">جان دئو</a></div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 90%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <a href="#" class="rating-reviews">(32 نظر )</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="vendor-info list-style-none">
                                        <li class="store-name">
                                            <label>نام فروشگاه:</label>
                                            <span class="detail">فروشگاه OAIO</span>
                                        </li>
                                        <li class="store-address">
                                            <label>آدرس: </label>
                                            <span class="detail">ایران، ارومیه ، شاهین دژ / پلاک 11 منزل خیار</span>
                                        </li>
                                        <li class="store-phone">
                                            <label>تلفن: </label>
                                            <a href="#tel:">1234567890</a>
                                        </li>
                                    </ul>
                                    <a href="vendor-dokan-store.html"
                                        class="btn btn-dark btn-link btn-underline btn-icon-right">نمایش فروشگاه<i class="w-icon-long-arrow-left"></i></a>
                                </div>
                            </div>
                            <p class="mb-5"><strong class="text-dark"> ل </strong>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..
                            </p>
                        </div>
                        <div class="tab-pane" id="product-tab-reviews">
                            <div class="row mb-4">
                                <div class="col-xl-4 col-lg-5 mb-4">
                                    <div class="ratings-wrapper">
                                        <div class="avg-rating-container">
                                            <h4 class="avg-mark font-weight-bolder ls-50">3.3</h4>
                                            <div class="avg-rating">
                                                <p class="text-dark mb-1">میانگین امتیاز </p>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: 60%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                    <a href="#" class="rating-reviews">(0 نظر )</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="ratings-value d-flex align-items-center text-dark ls-25">
                                            <span
                                                class="text-dark font-weight-bold">66.7%</span>توصیه شده <span
                                                class="count">(2 از 3)</span>
                                        </div>
                                        <div class="ratings-list">
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 100%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <div class="progress-bar progress-bar-sm ">
                                                    <span></span>
                                                </div>
                                                <div class="progress-value">
                                                    <mark>70%</mark>
                                                </div>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 80%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <div class="progress-bar progress-bar-sm ">
                                                    <span></span>
                                                </div>
                                                <div class="progress-value">
                                                    <mark>30%</mark>
                                                </div>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 60%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <div class="progress-bar progress-bar-sm ">
                                                    <span></span>
                                                </div>
                                                <div class="progress-value">
                                                    <mark>40%</mark>
                                                </div>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 40%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <div class="progress-bar progress-bar-sm ">
                                                    <span></span>
                                                </div>
                                                <div class="progress-value">
                                                    <mark>0%</mark>
                                                </div>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width: 20%;"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <div class="progress-bar progress-bar-sm ">
                                                    <span></span>
                                                </div>
                                                <div class="progress-value">
                                                    <mark>0%</mark>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-7 mb-4">
                                    <div class="review-form-wrapper">
                                        <h3 class="title tab-pane-title font-weight-bold mb-1">نظر خود را ارسال کنید</h3>
                                        <p class="mb-3">آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی مشخص شده اند *</p>
                                        <form action="#" method="POST" class="review-form">
                                            <div class="rating-form">
                                                <label for="rating">امتیاز شما به این محصول :</label>
                                                <span class="rating-stars">
                                                    <a class="star-1" href="#">1</a>
                                                    <a class="star-2" href="#">2</a>
                                                    <a class="star-3" href="#">3</a>
                                                    <a class="star-4" href="#">4</a>
                                                    <a class="star-5" href="#">5</a>
                                                </span>
                                                <select name="rating" id="rating" required=""
                                                    style="display: none;">
                                                    <option value="">امتیاز </option>
                                                    <option value="5">عالی </option>
                                                    <option value="4">خوب </option>
                                                    <option value="3">میانگین </option>
                                                    <option value="2">بد نیست</option>
                                                    <option value="1">خیلی بد</option>
                                                </select>
                                            </div>
                                            <textarea cols="30" rows="6"
                                                placeholder="نظر خود را اینجا بنویسید..." class="form-control"
                                                id="review"></textarea>
                                            <div class="row gutter-md">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control"
                                                        placeholder="نام شما" id="author">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control"
                                                        placeholder="ایمیل شما" id="email_1">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" class="custom-checkbox"
                                                    id="save-checkbox">
                                                <label for="save-checkbox">برای دفعه بعد که نظر می دهم نام، ایمیل و وب سایت من را در این مرورگر ذخیره کنید.</label>
                                            </div>
                                            <button type="submit" class="btn btn-dark">ارسال نظر</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab tab-nav-boxed tab-nav-outline tab-nav-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a href="#show-all" class="nav-link active">نمایش همه </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#helpful-positive" class="nav-link">مفیدترین نکته مثبت</a>
                                    </li>                                    
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="show-all">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="assets/images/agents/1-100x100.png"
                                                            alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">جان دوو</a>
                                                            <span class="comment-date">اردیبهشت 1401</span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                    style="width: 60%;"></span>
                                                                <span
                                                                    class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..</p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                                class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>مفید  (1)
                                                            </a>
                                                            <a href="#"
                                                                class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>ضرر 
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="assets/images/products/default/review-img-1.jpg"
                                                                            width="60" height="60"
                                                                            alt="تصویر ضمیمه نقد جان دو در ساعت مچی مشکی الکترونیکی"
                                                                            data-zoom-image="assets/images/products/default/review-img-1-800x900.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>                                         
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="helpful-positive">
                                        <ul class="comments list-style-none">
                                            <li class="comment">
                                                <div class="comment-body">
                                                    <figure class="comment-avatar">
                                                        <img src="assets/images/agents/1-100x100.png"
                                                            alt="Commenter Avatar" width="90" height="90">
                                                    </figure>
                                                    <div class="comment-content">
                                                        <h4 class="comment-author">
                                                            <a href="#">جان دوو</a>
                                                            <span class="comment-date">اردیبهشت 1401</span>
                                                        </h4>
                                                        <div class="ratings-container comment-rating">
                                                            <div class="ratings-full">
                                                                <span class="ratings"
                                                                    style="width: 60%;"></span>
                                                                <span
                                                                    class="tooltiptext tooltip-top"></span>
                                                            </div>
                                                        </div>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..</p>
                                                        <div class="comment-action">
                                                            <a href="#"
                                                                class="btn btn-secondary btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-up"></i>مفید  (1)
                                                            </a>
                                                            <a href="#"
                                                                class="btn btn-dark btn-link btn-underline sm btn-icon-left font-weight-normal text-capitalize">
                                                                <i class="far fa-thumbs-down"></i>ضرر 
                                                                (0)
                                                            </a>
                                                            <div class="review-image">
                                                                <a href="#">
                                                                    <figure>
                                                                        <img src="assets/images/products/default/review-img-1.jpg"
                                                                            width="60" height="60"
                                                                            alt="تصویر ضمیمه نقد جان دو در ساعت مچی مشکی الکترونیکی"
                                                                            data-zoom-image="assets/images/products/default/review-img-1.jpg" />
                                                                    </figure>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>                                         
                                        </ul>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="vendor-product-section">
                    <div class="title-link-wrapper mb-4">
                        <h4 class="title text-left">محصولات بیشتر از این فروشنده</h4>
                        <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">محصولات بیشتر<i class="w-icon-long-arrow-left"></i></a>
                    </div>
                    <div class="swiper-container swiper-theme" data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 2,
                        'breakpoints': {
                            '576': {
                                'slidesPerView': 3
                            },
                            '768': {
                                'slidesPerView': 4
                            },
                            '992': {
                                'slidesPerView': 3
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="assets/images/products/default/1-1.jpg" alt="Product"
                                            width="300" height="338" />
                                        <img src="assets/images/products/default/1-2.jpg" alt="Product"
                                            width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                            title="افزودن به سبد "></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                            title="افزودن به علاقه مندیها"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                            title="افزودن برای مقایسه"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="نمایش سریع">نمایش سریع</a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat"><a href="shop-banner-sidebar.html">تجهیزات جانبی </a>
                                    </div>
                                    <h4 class="product-name"><a href="product-default.html">مداد چسبناک</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">40000 تومان</div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </section>
                <section class="related-product-section">
                    <div class="title-link-wrapper mb-4">
                        <h4 class="title">محصولات اخیر </h4>
                        <a href="#" class="btn btn-dark btn-link btn-slide-right btn-icon-right">محصولات بیشتر<i class="w-icon-long-arrow-left"></i></a>
                    </div>
                    <div class="swiper-container swiper-theme" data-swiper-options="{
                        'spaceBetween': 20,
                        'slidesPerView': 2,
                        'breakpoints': {
                            '576': {
                                'slidesPerView': 3
                            },
                            '768': {
                                'slidesPerView': 4
                            },
                            '992': {
                                'slidesPerView': 3
                            }
                        }
                    }">
                        <div class="swiper-wrapper row cols-lg-3 cols-md-4 cols-sm-3 cols-2">
                            <div class="swiper-slide product">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="assets/images/products/default/5.jpg" alt="Product"
                                            width="300" height="338" />
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                            title="افزودن به سبد "></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                            title="افزودن به علاقه مندیها"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                            title="افزودن برای مقایسه"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-quickview" title="نمایش سریع">نمایش سریع</a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">درون </a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 نظر )</a>
                                    </div>
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">480000 تومان</div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </section>
            </div>
            <!-- End of Main Content -->
            <aside class="sidebar product-sidebar sidebar-fixed right-sidebar sticky-sidebar-wrapper">
                <div class="sidebar-overlay"></div>
                <a class="sidebar-close" href="#"><i class="close-icon"></i></a>
                <a href="#" class="sidebar-toggle d-flex d-lg-none"><i class="fas fa-chevron-left"></i></a>
                <div class="sidebar-content scrollable">
                    <div class="sticky-sidebar">
                        <div class="widget widget-icon-box mb-6">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-truck"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">ارسال رایگان و مرجوعی</h4>
                                    <p>برای تمام سفارشات بیش از 99 دلار</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-bag"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">پرداخت امن</h4>
                                    <p>ما تضمین می کنیم</p>
                                </div>
                            </div>
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="w-icon-money"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h4 class="icon-box-title">تضمین بازگشت پول</h4>
                                    <p>پس از 30 روز بازگشت</p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Widget Icon Box -->

                        <div class="widget widget-banner mb-9">
                            <div class="banner banner-fixed br-sm">
                                <figure>
                                    <img src="assets/images/shop/banner3.jpg" alt="Banner" width="266"
                                        height="220" style="background-color: #1D2D44;" />
                                </figure>
                                <div class="banner-content">
                                    <div class="banner-price-info font-weight-bolder text-white lh-1 ls-25">
                                        40<sup class="font-weight-bold">%</sup><sub
                                            class="font-weight-bold text-uppercase ls-25">تخفیف </sub>
                                    </div>
                                    <h4
                                        class="banner-subtitle text-white font-weight-bolder text-uppercase mb-0">
                                        فروش نامحدود </h4>
                                </div>
                            </div>
                        </div>
                        <!-- End of Widget Banner -->

                        <div class="widget widget-products">
                            <div class="title-link-wrapper mb-2">
                                <h4 class="title title-link font-weight-bold">محصولات بیشتر </h4>
                            </div>
                        
                            <div class="swiper nav-top">
                                <div class="swiper-container swiper-theme nav-top" data-swiper-options = "{
                                    'slidesPerView': 1,
                                    'spaceBetween': 20,
                                    'navigation': {
                                        'prevEl': '.swiper-button-prev',
                                        'nextEl': '.swiper-button-next'
                                    }
                                }">
                                    <div class="swiper-wrapper">
                                        <div class="widget-col swiper-slide">
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="assets/images/shop/13.jpg" alt="Product"
                                                            width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">ساعت هوشمند </a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 100%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">80000 تومان - 90000 تومان</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="assets/images/shop/14.jpg" alt="Product"
                                                            width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">مرکز پزشکی آسمان</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 80%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">220000 تومان</div>
                                                </div>
                                            </div>
                                            <div class="product product-widget">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="assets/images/shop/15.jpg" alt="Product"
                                                            width="100" height="113" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h4 class="product-name">
                                                        <a href="#">موتور بدلکاری مشکی</a>
                                                    </h4>
                                                    <div class="ratings-container">
                                                        <div class="ratings-full">
                                                            <span class="ratings" style="width: 60%;"></span>
                                                            <span class="tooltiptext tooltip-top"></span>
                                                        </div>
                                                    </div>
                                                    <div class="product-price">180000 تومان</div>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <button class="swiper-button-next"></button>
                                    <button class="swiper-button-prev"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End of Sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Content -->
{% endblock content %}



    <!-- Root element of PhotoSwipe. Must have class pswp -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
			PhotoSwipe keeps only 3 of them in the DOM to save memory.
			Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" aria-label="بستن (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" aria-label="بزرگ و کوچک نمایی"></button>

                    <div class="pswp__preloader">
                        <div class="loading-spin"></div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button--arrow--right" aria-label="قبلی"></button>
                <button class="pswp__button--arrow--left" aria-label="بعدی"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PhotoSwipe -->
