{% extends 'base.html' %}

{% block title %}محصولات{% endblock title %}

{% block content %}

   <!-- Start of Breadcrumb -->
   <nav class="breadcrumb-nav">
    <div class="container">
        <ul class="breadcrumb bb-no">
            <li><a href="{% url 'home_view' %}">خانه </a></li>
            <li>فروشگاه</li>
        </ul>
    </div>
</nav>
<!-- End of Breadcrumb -->

<!-- Start of Page Content -->
<div class="page-content">
    <div class="container">
        <!-- Start of Shop Banner -->
        <div class="shop-default-banner banner d-flex align-items-center mb-5 br-xs"
            style="background-image: url(assets/images/shop/banner1.jpg); background-color: #FFC74E;">
            <div class="banner-content">
                <h4 class="banner-subtitle font-weight-bold">مجموعه لوازم جانبی </h4>
                <h3 class="banner-title text-white text-uppercase font-weight-bolder ls-normal">ساعت مچی هوشمند</h3>
                <a href="shop-banner-sidebar.html" class="btn btn-dark btn-rounded btn-icon-right">اکنون کشف کنید<i class="w-icon-long-arrow-left"></i></a>
            </div>
        </div>
        <!-- End of Shop Banner -->

        <div class="shop-default-brands mb-5">
            <div class="brands-swiper swiper-container swiper-theme "
                data-swiper-options="{
                    'slidesPerView': 2,
                    'breakpoints': {
                        '576': {
                            'slidesPerView': 3
                        },
                        '768': {
                            'slidesPerView': 4
                        },
                        '992': {
                            'slidesPerView': 6
                        },
                        '1200': {
                            'slidesPerView': 7
                        }
                    },
                    'autoplay': {
                        'delay': 4000,
                        'disableOnInteraction': false
                    }
                }">
                <div class="swiper-wrapper row gutter-no cols-xl-7 cols-lg-6 cols-md-4 cols-sm-3 cols-2">
                    <div class="swiper-slide">
                        <figure>
                            <img src="assets/images/brands/category/1.png" alt="Brand" width="160" height="90" />
                        </figure>
                    </div>                    
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- End of Shop Brands-->

        <!-- Start of Shop Category -->
        <div class="shop-default-category category-ellipse-section mb-6">
            <div class="swiper-container swiper-theme shadow-swiper"
                data-swiper-options="{
                'spaceBetween': 20,
                'slidesPerView': 2,
                'breakpoints': {
                    '480': {
                        'slidesPerView': 3
                    },
                    '576': {
                        'slidesPerView': 4
                    },
                    '768': {
                        'slidesPerView': 6
                    },
                    '992': {
                        'slidesPerView': 7
                    },
                    '1200': {
                        'slidesPerView': 8,
                        'spaceBetween': 30
                    }
                }
            }">
                <div class="swiper-wrapper row gutter-lg cols-xl-8 cols-lg-7 cols-md-6 cols-sm-4 cols-xs-3 cols-2">
                    <div class="swiper-slide category-wrap">
                        <div class="category category-ellipse">
                            <figure class="category-media">
                                <a href="shop-banner-sidebar.html">
                                    <img src="assets/images/categories/category-4.jpg" alt="Categroy"
                                        width="190" height="190" style="background-color: #5C92C0;" />
                                </a>
                            </figure>
                            <div class="category-content">
                                <h4 class="category-name">
                                    <a href="shop-banner-sidebar.html">ورزشی </a>
                                </h4>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- End of Shop Category -->

        <!-- Start of Shop Content -->
        <div class="shop-content row gutter-lg mb-10">
            <!-- Start of Sidebar, Shop Sidebar -->
            <aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
                <!-- Start of Sidebar Overlay -->
                <div class="sidebar-overlay"></div>
                <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

                <!-- Start of Sidebar Content -->
                <div class="sidebar-content scrollable">
                    <!-- Start of Sticky Sidebar -->
                    <div class="sticky-sidebar">
                        <div class="filter-actions">
                            <label>فیلتر  :</label>
                            <a href="#" class="btn btn-dark btn-link filter-clean">پاک کردن همه </a>
                        </div>
                        <!-- Start of Collapsible widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><label>تمام دسته بندیها </label></h3>
                            <ul class="widget-body filter-items search-ul">
                                <li><a href="#">تجهیزات جانبی </a></li>                               
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><label>قیمت</label></h3>
                            <div class="widget-body">
                                <ul class="filter-items search-ul">
                                    <li><a href="#">0 - 99000 تومان</a></li>
                                    <li><a href="#">100000 - 500000 تومان</a></li>
                                    <li><a href="#">500000 - 1000000 تومان</a></li>
                                    <li><a href="#">1000000 - 5000000 تومان</a></li>
                                    <li><a href="#">5000000 تومان +</a></li>
                                </ul>
                                <form class="price-range">
                                    <input type="number" name="min_price" class="min_price text-center"
                                        placeholder="$min"><span class="delimiter">-</span><input
                                        type="number" name="max_price" class="max_price text-center"
                                        placeholder="$max"><a href="#"
                                        class="btn btn-primary btn-rounded">برو </a>
                                </form>
                            </div>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><label>سایز</label></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">خبلی بزرگ </a></li>
                                <li><a href="#">بزرگ </a></li>
                                <li><a href="#">متوسط </a></li>
                                <li><a href="#">کوچک </a></li>
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><label>برند </label></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">گروه خودرو زیبا </a></li>                                
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><label>رنگ </label></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">سیاه</a></li>
                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->
                    </div>
                    <!-- End of Sidebar Content -->
                </div>
                <!-- End of Sidebar Content -->
            </aside>
            <!-- End of Shop Sidebar -->

            <!-- Start of Shop Main Content -->
            <div class="main-content">
                <nav class="toolbox sticky-toolbox sticky-content fix-top">
                    <div class="toolbox-left">
                        <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle 
                            btn-icon-left d-block d-lg-none"><i
                                class="w-icon-category"></i><span>فیلتر ها </span></a>
                        <div class="toolbox-item toolbox-sort select-box text-dark">
                            <label>مرتب سازی با اساس :</label>
                            <select name="orderby" class="form-control">
                                <option value="default" selected="selected">مرتب سازی پیش فرض </option>
                                <option value="popularity">مرتب سازی با اساس محبوبیت </option>
                                <option value="rating">مرتب سازی با اساس میانگین امتیاز </option>
                                <option value="date">مرتب سازی با اساس اخیر </option>
                                <option value="price-low">مرتب سازی با اساس قیمت پایین به بالا</option>
                                <option value="price-high">مرتب سازی با اساس قیمت بالا به پایین</option>
                            </select>
                        </div>
                    </div>
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show select-box">
                            <select name="count" class="form-control">
                                <option value="9">نمایش 9</option>
                                <option value="12" selected="selected">نمایش 12</option>
                                <option value="24">نمایش 24</option>
                                <option value="36">نمایش 36</option>
                            </select>
                        </div>
                        <div class="toolbox-item toolbox-layout">
                            <a href="shop-banner-sidebar.html" class="icon-mode-grid btn-layout active">
                                <i class="w-icon-grid"></i>
                            </a>
                            <a href="shop-list.html" class="icon-mode-list btn-layout">
                                <i class="w-icon-list"></i>
                            </a>
                        </div>
                    </div>
                </nav>
                <div class="product-wrapper row cols-md-3 cols-sm-2 cols-2">                   
                    {% for product in products %}
                    <div class="product-wrap">
                        <div class="product text-center">
                            <figure class="product-media">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.thumbnail.url }}" alt="{{ product.title }}" width="300"
                                        height="338" />
                                    {% comment %} <img src="assets/images/shop/2-2.jpg" alt="Product" width="300"
                                        height="338" /> {% endcomment %}
                                </a>
                                {% comment %} <div class="product-countdown-container">
                                    <div class="product-countdown countdown-compact" data-until="2021, 9, 9"
                                        data-format="DHMS" data-compact="false"
                                        data-labels-short="Days, Hours, Mins, Secs">
                                        00:00:00:00</div>
                                </div> {% endcomment %}
                                <div class="product-action-horizontal">
                                    <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                        title="افزودن به سبد "></a>
                                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                        title="علاقه مندیها"></a>
                                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                        title="مقایسه"></a>
                                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                        title="نمایش سریع"></a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-banner-sidebar.html">الکترونیکی </a>
                                </div>
                                <h3 class="product-name">
                                    <a href="product-default.html">ساعت زنگ دار با لامپ</a>
                                </h3>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="product-default.html" class="rating-reviews">(10 نظر )</a>
                                </div>
                                <div class="product-pa-wrapper">
                                    <div class="product-price">
                                        <ins class="new-price">30000 تومان</ins><del
                                            class="old-price">50000 تومان</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    {% empty %}
                    
                    {% endfor %}                
                </div>

                <div class="toolbox toolbox-pagination justify-content-between">
                    <p class="showing-info mb-2 mb-sm-0">
                        نمایش <span>1-12 از 60</span>محصولات 
                    </p>
                    <ul class="pagination">
                        <li class="prev disabled">
                            <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <i class="w-icon-long-arrow-right"></i>قبلی
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="next">
                            <a href="#" aria-label="Next">
                               بعدی <i class="w-icon-long-arrow-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End of Shop Main Content -->
        </div>
        <!-- End of Shop Content -->
    </div>
</div>
<!-- End of Page Content -->

{% endblock content %}
