{% extends 'base.html' %}

{% block title %}علاقه مندی ها{% endblock title %}

{% block content %}

<!-- Start of Main -->
<main class="main wishlist-page">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">علاقه مندیها</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html">خانه </a></li>
                <li>علاقه مندیها</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of PageContent -->
    <div class="page-content">
        <div class="container">
            <h3 class="wishlist-title">علاقه مندیهای من</h3>
            <table class="shop-table wishlist-table">
                <thead>
                    <tr>
                        <th class="product-name"><span>محصول </span></th>
                        <th></th>
                        <th class="product-price"><span>قیمت </span></th>
                        <th class="product-stock-status"><span>وضعیت انبار </span></th>
                        <th class="wishlist-action">اقدامات </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-thumbnail">
                            <div class="p-relative">
                                <a href="product-default.html">
                                    <figure>
                                        <img src="assets/images/shop/7-1.jpg" alt="product" width="300"
                                            height="338">
                                    </figure>
                                </a>
                                <button type="submit" class="btn btn-close"><i
                                        class="fas fa-times"></i></button>
                            </div>
                        </td>
                        <td class="product-name">
                            <a href="product-default.html">
                                تنه آسمان آبی
                            </a>
                        </td>
                        <td class="product-price">
                            <ins class="new-price">85000 تومان</ins>
                        </td>
                        <td class="product-stock-status">
                            <span class="wishlist-in-stock">در انبار</span>
                        </td>
                        <td class="wishlist-action">
                            <div class="d-lg-flex">
                                <a href="#"
                                    class="btn btn-quickview btn-outline btn-default btn-rounded btn-sm mb-2 mb-lg-0">نمایش سریع</a>
                                <a href="#" class="btn btn-dark btn-rounded btn-sm ml-lg-2 btn-cart">افزودن به سبد</a>
                            </div>
                        </td>
                    </tr>                  
                </tbody>
            </table>
            <div class="social-links">
                <label>اشتراک در:</label>
                <div class="social-icons social-no-color border-thin">
                    <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                    <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                    <a href="#" class="social-icon social-pinterest w-icon-pinterest"></a>
                    <a href="#" class="social-icon social-email far fa-envelope"></a>
                    <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of PageContent -->
</main>
<!-- End of Main -->


{% endblock content %}
