{% extends 'base.html' %} {% block title %} ثبت نام {% endblock title %}

{% block content %}

<!-- Start of Breadcrumb -->
<nav class="breadcrumb-nav mb-10 pb-1">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="{% url 'home_view' %}">خانه </a></li>
      <li>ثبت نام</li>
    </ul>
  </div>
</nav>
<!-- End of Breadcrumb -->

<!-- Start of PageContent -->
<div class="page-content contact-us">
  <div class="container col-6">
    <div class="justify-content-center">
      <div class="login-popup">
        <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
          <ul class="nav nav-tabs text-uppercase" role="tablist">
            <li class="nav-item">
              <a href="{% url 'login_view' %}" class="nav-link">ورود</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'register_view' %}" class="nav-link active"
                >ثبت نام</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="sign-up">
              <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                  <label>آدرس ایمیل *</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                  />
                </div>
                <div class="form-group mb-5">
                  <label>رمز عبور *</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                  />
                </div>
                <div class="form-group mb-5">
                  <label>تایید رمز عبور *</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password_confirmation"
                    id="password_confirmation"
                    required
                  />
                </div>
                <p><a href="#" class="text-primary">حریم خصوصی</a>.</p>
                {% comment %}
                <a href="#" class="d-block mb-5 text-primary"
                  >به عنوان فروشنده ثبت نام کنید؟</a
                >
                {% endcomment %}
                <div
                  class="form-checkbox d-flex align-items-center justify-content-between mb-5"
                >
                  <input
                    type="checkbox"
                    class="custom-checkbox"
                    id="agreement"
                    name="agreement"
                    required=""
                    checked
                  />
                  <label for="agree" class="font-size-md"
                    >ما تایید میکنم
                    <a href="#" class="text-primary font-size-md"
                      >قوانین سایت</a
                    ></label
                  >
                </div>
                <button
                  type="submit"
                  value="submit"
                  class="btn btn-primary btn-block"
                >
                  ثبت نام
                </button>
              </form>
            </div>
          </div>
          <p class="text-center">با حساب اجتماعی وارد شوید</p>
          <div
            class="social-icons social-icon-border-color d-flex justify-content-center"
          >
            <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
            <a href="#" class="social-icon social-google fab fa-google"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
