{% load static %} {% load unicorn %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>دیجی شاپ - {% block title %} {% endblock title %}</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.png' %}"
    />

    <!-- WebFont.js -->
    <script>
      WebFontConfig = {
          google: { families: ['Poppins:400,500,600,700'] }
      };
      (function (d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = '{% static "js/webfont.js" %}';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

    <link
      rel="preload"
      href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="{% static '' %}fonts/wolmart87d5.woff?png09e"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />

    <!-- Vendor CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
    />

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/animate/animate.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}"
    />

    <!-- Default CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/demo2.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style-rtl.min.css' %}"
    />

    {% block styles %} {% endblock styles %} 
    
    {% unicorn_scripts %}
  </head>

  <body class="home">
    {% csrf_token %}

    <div class="page-wrapper">
      <h1 class="d-none">قالب فروشگاهی چند فروشندگی وولمارت</h1>

      <!-- Start of Header -->
      <header class="header">
        <div class="header-top">
          <div class="container">
            <div class="header-left">
              <p class="welcome-msg">
                به فروشگاه دیجی شاپ خوش آمدید.
              </p>
            </div>
            <div class="header-right pr-0">
           
              <!-- End of Dropdown Menu -->
              <span class="divider d-lg-show"></span>

              <a href="{% url 'post_list' %}" class="d-lg-show">بلاگ </a>
              <a href="{% url 'contact_view' %}" class="d-lg-show"
                >تماس با ما
              </a>

              {% if user.is_authenticated %}
              <a href="{% url 'account_index' %}" class="d-lg-show">حساب کاربری </a>
              <a href="{% url 'logout' %}" class="d-lg-show">خروج </a>
              {% else %}
              <a href="{% url 'login_view' %}" class="d-lg-show"
                ><i class="w-icon-account"></i>ورود
              </a>
              <span class="delimiter d-lg-show">/</span>
              <a href="{% url 'register_view' %}" class="ml-0 d-lg-show"
                >ثبت نام
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End of Header Top -->

        <div class="header-middle">
          <div class="container">
            <div class="header-left mr-md-4">
              <a
                href="#"
                class="mobile-menu-toggle w-icon-hamburger"
                aria-label="menu-toggle"
              >
              </a>
              <a href="{% url 'home_view' %}" class="logo ml-lg-0">
                <img
                  src="{% static 'images/logo.png' %}"
                  alt="logo"
                  width="144"
                  height="45"
                />
              </a>
              <nav class="main-nav">
                <ul class="menu">
                  <li class="active">
                    <a href="{% url 'home_view' %}">خانه </a>
                  </li>
                  <li>
                    <a href="shop-banner-sidebar.html">فروشگاه </a>

                    <!-- Start of Megamenu -->
                    <ul class="megamenu">
                      <li>
                        <h4 class="menu-title">صفحات فروشگاه</h4>
                        <ul>
                          <li>
                            <a href="shop-both-sidebar.html"
                              >هر دو نوار کناری
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">چیدمان فروشگاه</h4>
                        <ul>
                          <li>
                            <a href="shop-list-sidebar.html"
                              >حالت فهرست با نوار کناری</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">صفحات محصول</h4>
                        <ul>
                          <li>
                            <a href="product-video.html"
                              >360<sup>درجه </sup> ویدئو
                              <span class="tip tip-new">جدید </span></a
                            >
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h4 class="menu-title">چیدمان محصولات</h4>
                        <ul>
                          <li>
                            <a href="product-sticky-both.html">هردو چسبناک </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <!-- End of Megamenu -->
                  </li>
                  <li>
                    <a href="vendor-dokan-store.html">فروشنده </a>
                    <ul>
                      <li>
                        <a href="vendor-dokan-store-list.html"
                          >فهرست فروشگاه
                        </a>
                        <ul>
                          <li>
                            <a href="vendor-dokan-store-list.html"
                              >فهرست فروشگاه 1</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">صفحات </a>
                    <ul>
                      <li><a href="{% url 'about_view' %}">درباره ما </a></li>
                      <li><a href="{% url 'contact_view' %}">تماس ما </a></li>
                      <li><a href="{% url 'faqs_view' %}">سوالات متداول </a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header-right ml-4">
              <div class="header-call d-xs-show d-lg-flex align-items-center">
                <a href="tel:#" class="w-icon-call"></a>
                <div class="call-info d-xl-show">
                  <h4
                    class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0"
                  >
                    <a href="mailto:#" class="text-capitalize">تماس با ما:</a>
                  </h4>
                  <a href="tel:#" class="phone-number font-weight-bolder ls-50"
                    >0(800)123-456</a
                  >
                </div>
              </div>
              <a
                class="wishlist label-down link d-xs-show"
                href="{% url 'wishlist' %}"
              >
                <i class="w-icon-heart"></i>
                <span class="wishlist-label d-lg-show">علاقه مندیها </span>
              </a>
              <a
                class="compare label-down link d-xs-show"
                href="{% url 'compare' %}"
              >
                <i class="w-icon-compare"></i>
                <span class="compare-label d-lg-show">مقایسه کردن </span>
              </a>
              <div class="dropdown cart-dropdown mr-0 mr-lg-2">
                <div class="cart-overlay"></div>
                <a href="#" class="cart-toggle label-down link">
                  <i class="w-icon-cart">
                    <span class="cart-count">0</span>
                  </i>
                  <span class="cart-label">سبد </span>
                </a>
                <div class="dropdown-box">
                  <div class="products">
                    <div class="product product-cart">
                      <div class="product-detail">
                        <a href="product-default.html" class="product-name"
                          >الیس بافتنی بژ<br />کفش دونده تیک</a
                        >
                        <div class="price-box">
                          <span class="product-quantity">1</span>
                          <span class="product-price">25600 تومان</span>
                        </div>
                      </div>
                      <figure class="product-media">
                        <a href="product-default.html">
                          <img
                            src="{% static 'images/cart/product-1.jpg' %}"
                            alt="product"
                            height="84"
                            width="94"
                          />
                        </a>
                      </figure>
                      <button
                        class="btn btn-link btn-close"
                        aria-label="button"
                      >
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>

                  <div class="cart-total">
                    <label>مجموع: </label>
                    <span class="price">0 تومان</span>
                  </div>

                  <div class="cart-action">
                    <a
                      href="{% url 'cart' %}"
                      class="btn btn-dark btn-outline btn-rounded"
                      >سبد خرید
                    </a>
                    <a
                      href="{% url 'checkout' %}"
                      class="btn btn-primary btn-rounded"
                      >پرداخت
                    </a>
                  </div>
                </div>
                <!-- End of Dropdown Box -->
              </div>
            </div>
          </div>
        </div>
        <!-- End of Header Middle -->

        <div class="header-bottom sticky-content fix-top sticky-header">
          <div class="container">
            <div class="inner-wrap">
              <div class="header-left flex-1">
                <div
                  class="dropdown category-dropdown has-border"
                  data-visible="true"
                >
                  <a
                    href="#"
                    class="category-toggle"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true"
                    data-display="static"
                    title="کاوش دسته بندیها "
                  >
                    <i class="w-icon-category"></i>
                    <span>کاوش دسته بندیها </span>
                  </a>

                  <div class="dropdown-box">
                    <ul class="menu vertical-menu category-menu">
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-tshirt2"></i>مدل
                        </a>
                        <ul class="megamenu">
                          <li>
                            <h4 class="menu-title">زنانه</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >تازه رسیده ها
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <h4 class="menu-title">زنانه</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >تازه رسیده ها
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <div class="banner-fixed menu-banner menu-banner2">
                              <figure>
                                <img
                                  src="{% static '' %}images/banner-2.jpg"
                                  alt="Menu Banner"
                                  width="235"
                                  height="347"
                                />
                              </figure>
                              <div class="banner-content">
                                <div class="banner-price-info mb-1 ls-normal">
                                  دریافت کنید
                                  <strong class="text-primary text-uppercase"
                                    >20 % تخفیف</strong
                                  >
                                </div>
                                <h3 class="banner-title ls-normal">فروش داغ</h3>
                                <a
                                  href="shop-banner-sidebar.html"
                                  class="btn btn-dark btn-sm btn-link btn-slide-right btn-icon-right"
                                >
                                  اکنون بخرید
                                  <i class="w-icon-long-arrow-left"></i>
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-home"></i>خانه و باغ
                        </a>
                        <ul class="megamenu">
                          <li>
                            <h4 class="menu-title">بدروم</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html">اسلحه </a>
                              </li>
                            </ul>

                            <h4 class="menu-title mt-1">هال</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >کابینت و صندوقچه</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li>
                            <h4 class="menu-title">دفتر</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >اتاق استراحت جداول
                                </a>
                              </li>
                            </ul>

                            <h4 class="menu-title mt-1">آشپزخانه و غذاخوری</h4>
                            <hr class="divider" />
                            <ul>
                              <li>
                                <a href="shop-fullwidth-banner.html"
                                  >چهارپایه بار
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <div class="menu-banner banner-fixed menu-banner3">
                              <figure>
                                <img
                                  src="{% static '' %}images/menu/banner-3.jpg"
                                  alt="Menu Banner"
                                  width="235"
                                  height="461"
                                />
                              </figure>
                              <div class="banner-content">
                                <h4
                                  class="banner-subtitle font-weight-normal text-white mb-1"
                                >
                                  سرویس بهداشتی
                                </h4>
                                <h3
                                  class="banner-title font-weight-bolder text-white ls-normal"
                                >
                                  فروش مبلمان
                                </h3>
                                <div
                                  class="banner-price-info text-white font-weight-normal ls-25"
                                >
                                  تا
                                  <span
                                    class="text-secondary text-uppercase font-weight-bold"
                                    >25% تخفیف</span
                                  >
                                </div>
                                <a
                                  href="shop-banner-sidebar.html"
                                  class="btn btn-white btn-link btn-sm btn-slide-right btn-icon-right"
                                >
                                  اکنون بخرید
                                  <i class="w-icon-long-arrow-left"></i>
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-furniture"></i> مبلمان
                        </a>
                        <ul class="megamenu type2">
                          <li class="row">
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">مبلمان</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >مبل و کاناپه</a
                                  >
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">نورپردازی</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html">لامپ </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">لوازم جانبی خانه</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >تجهیزات جانبی تزئینی
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-3 col-lg-3 col-6">
                              <h4 class="menu-title">باغ و فضای باز</h4>
                              <hr class="divider" />
                              <ul>
                                <li>
                                  <a href="shop-fullwidth-banner.html"
                                    >تجهیزات باغی</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li class="row">
                            <div class="col-6">
                              <div
                                class="banner banner-fixed menu-banner5 br-xs"
                              >
                                <figure>
                                  <img
                                    src="{% static '' %}images/menu/banner-5.jpg"
                                    alt="Banner"
                                    width="410"
                                    height="123"
                                    style="background-color: #d2d2d2"
                                  />
                                </figure>
                                <div class="banner-content text-right y-50">
                                  <h4
                                    class="banner-subtitle font-weight-normal text-default text-capitalize"
                                  >
                                    تازه رسیده ها
                                  </h4>
                                  <h3
                                    class="banner-title font-weight-bolder text-capitalize ls-normal"
                                  >
                                    مبل شگفت انگیز
                                  </h3>
                                  <div
                                    class="banner-price-info font-weight-normal ls-normal"
                                  >
                                    شروع از <strong>125000 تومان</strong>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div
                                class="banner banner-fixed menu-banner5 br-xs"
                              >
                                <figure>
                                  <img
                                    src="{% static '' %}images/menu/banner-6.jpg"
                                    alt="Banner"
                                    width="410"
                                    height="123"
                                    style="background-color: #9f9888"
                                  />
                                </figure>
                                <div class="banner-content y-50">
                                  <h4
                                    class="banner-subtitle font-weight-normal text-white text-capitalize"
                                  >
                                    پرفروش
                                  </h4>
                                  <h3
                                    class="banner-title font-weight-bolder text-capitalize text-white ls-normal"
                                  >
                                    صندلی و لامپ
                                  </h3>
                                  <div
                                    class="banner-price-info font-weight-normal ls-normal text-white"
                                  >
                                    از جانب <strong>165000 تومان</strong>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="shop-fullwidth-banner.html">
                          <i class="w-icon-ruby"></i>تجهیزات جانبی
                        </a>
                      </li>
                      <li>
                        <a
                          href="shop-banner-sidebar.html"
                          class="font-weight-bold text-primary text-uppercase ls-25"
                        >
                          نمایش همه دسته بندیها
                          <i class="w-icon-angle-left"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <form
                  method="get"
                  action="#"
                  class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper mr-4 ml-4"
                >
                  <div class="select-box">
                    <select id="category" name="category">
                      <option value="">دسته بندیها</option>
                    </select>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="search"
                    id="search"
                    placeholder="جستجو کنید ..."
                    required
                  />
                  <button class="btn btn-search" type="submit">
                    <i class="w-icon-search"></i>
                  </button>
                </form>
              </div>
              <div class="header-right pr-0 ml-4">
                <a href="#" class="d-xl-show mr-6"
                  ><i class="w-icon-map-marker mr-1"></i>پیگیری سفارش
                </a>
                <a href="#"><i class="w-icon-sale"></i>معاملات روزانه </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- End of Header -->

      <main class="main">{% block content %} {% endblock content %}</main>
      <!-- End of Main -->

      <!-- Start of Footer -->
      <footer
        class="footer appear-animate"
        data-animation-options="{
            'name': 'fadeIn'
        }"
      >
        <div class="footer-newsletter bg-primary pt-6 pb-6">
          <div class="container">
            <div class="row justify-content-center align-items-center">
              <div class="col-xl-5 col-lg-6">
                <div class="icon-box icon-box-side text-white">
                  <div class="icon-box-icon d-inline-flex">
                    <i class="w-icon-envelop3"></i>
                  </div>
                  <div class="icon-box-content">
                    <h4 class="icon-box-title text-white text-uppercase mb-0">
                      مشترک شدن در خبرنامه ما
                    </h4>
                    <p class="text-white">
                      تمام آخرین اطلاعات در مورد رویدادها، فروش ها و پیشنهادات
                      را دریافت کنید.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 col-lg-6 col-md-9 mt-4 mt-lg-0">
                <form
                  action="#"
                  method="get"
                  class="input-wrapper input-wrapper-inline input-wrapper-rounded"
                >
                  <input
                    type="email"
                    class="form-control mr-2 bg-white"
                    name="email"
                    id="email"
                    placeholder="آدرس ایمیل "
                  />
                  <button class="btn btn-dark btn-rounded" type="submit">
                    اشتراک در <i class="w-icon-long-arrow-left"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-4 col-sm-6">
                <div class="widget widget-about">
                  <a href="{% url 'home_view' %}" class="logo-footer">
                    <img
                      src="{% static 'images/logo.png' %}"
                      alt="logo-footer"
                      width="144"
                      height="45"
                    />
                  </a>
                  <div class="widget-body">
                    <p class="widget-about-title">سوالی دارید؟ تماس بگیرید</p>
                    <a href="tel:18005707777" class="widget-about-call"
                      >1-800-570-7777</a
                    >
                    <p class="widget-about-desc">
                      برای دریافت بروز رسانی با ما هماهنگ شوید.
                    </p>

                    <div class="social-icons social-icons-colored">
                      <a
                        href="#"
                        class="social-icon social-facebook w-icon-facebook"
                      ></a>
                      <a
                        href="#"
                        class="social-icon social-twitter w-icon-twitter"
                      ></a>
                      <a
                        href="#"
                        class="social-icon social-instagram w-icon-instagram"
                      ></a>
                      <a
                        href="#"
                        class="social-icon social-youtube w-icon-youtube"
                      ></a>
                      <a
                        href="#"
                        class="social-icon social-pinterest w-icon-pinterest"
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="widget">
                  <h3 class="widget-title">دیجی شاپ</h3>
                  <ul class="widget-body">
                    <li><a href="{% url 'about_view' %}">درباره ما </a></li>
                    <li><a href="{% url 'contact_view' %}">تماس با ما </a></li>
                    <li><a href="#">اعضای تیم </a></li>
                    <li><a href="#">شغل </a></li>
                    <li><a href="#">وابسته </a></li>
                    <li><a href="#">تاریخچه سفارش ها </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="widget">
                  <h4 class="widget-title">حساب کاربری</h4>
                  <ul class="widget-body">
                    <li><a href="#">پیگیر سفارشات من </a></li>
                    <li><a href="{% url 'cart' %}">سبد خرید </a></li>
                    <li><a href="{% url 'login_view' %}">ورود </a></li>
                    <li><a href="#">راهنما </a></li>
                    <li>
                      <a href="{% url 'wishlist' %}">علاقه مندیهای من </a>
                    </li>
                    <li><a href="#">سیاست حفظ حریم خصوصی </a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="widget">
                  <h4 class="widget-title">خدمات مشتری</h4>
                  <ul class="widget-body">
                    <li><a href="#">روش های پرداخت </a></li>
                    <li><a href="#">تضمین بازگشت پول! </a></li>
                    <li><a href="#">محصول بازگشتی </a></li>
                    <li><a href="#">مرکز پشتیبانی </a></li>
                    <li><a href="#">حمل دریایی </a></li>
                    <li><a href="#">مدت و شرایط</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-middle">
            <div class="widget widget-category">
              <div class="category-box">
                <h6 class="category-name">مصرف کننده برق:</h6>
                <a href="#">تلویزیون</a>
                <a href="#">نمایش همه </a>
              </div>
              <div class="category-box">
                <h6 class="category-name">کامپیوتر و فناوری:</h6>
                <a href="#">لپ تاپ </a>
                <a href="#">نمایش همه </a>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-left">
              <p class="copyright">
                کپی رایت © 1401 فروشگاه وولمارت. تمامی حقوق محفوظ است..
              </p>
            </div>
            <div class="footer-right">
              <span class="payment-label mr-lg-8"
                >ما از پرداخت مطمئن استفاده می کنیم</span
              >
              <figure class="payment">
                <img
                  src="{% static 'images/payment.png' %}"
                  alt="payment"
                  width="159"
                  height="25"
                />
              </figure>
            </div>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of .page-wrapper -->

    <!-- Start of Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
      <a href="{% url 'home_view' %}" class="sticky-link active">
        <i class="w-icon-home"></i>
        <p>خانه</p>
      </a>
      <a href="{% url 'product_list' %}" class="sticky-link">
        <i class="w-icon-category"></i>
        <p>فروشگاه</p>
      </a>
      <a href="my-account.html" class="sticky-link">
        <i class="w-icon-account"></i>
        <p>حساب کاربری</p>
      </a>
      <div class="cart-dropdown dir-up">
        <a href="{% url 'cart' %}" class="sticky-link">
          <i class="w-icon-cart"></i>
          <p>سبد خرید</p>
        </a>
        <div class="dropdown-box">
          <div class="products">
            <div class="product product-cart">
              <div class="product-detail">
                <h3 class="product-name">
                  <a href="product-default.html"
                    >ما از پرداخت مطمئن استفاده می کنیم<br />کفش دونده تیک</a
                  >
                </h3>
                <div class="price-box">
                  <span class="product-quantity">1</span>
                  <span class="product-price">25600 تومان</span>
                </div>
              </div>
              <figure class="product-media">
                <a href="product-default.html">
                  <img
                    src="{% static '' %}images/cart/product-1.jpg"
                    alt="product"
                    height="84"
                    width="94"
                  />
                </a>
              </figure>
              <button class="btn btn-link btn-close" aria-label="button">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>

          <div class="cart-total">
            <label>مجموع: </label>
            <span class="price">0 تومان</span>
          </div>

          <div class="cart-action">
            <a
              href="{% url 'cart' %}"
              class="btn btn-dark btn-outline btn-rounded"
              >سبد خرید
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-primary btn-rounded"
              >پرداخت
            </a>
          </div>
        </div>
        <!-- End of Dropdown Box -->
      </div>

      <div class="header-search hs-toggle dir-up">
        <a href="#" class="search-toggle sticky-link">
          <i class="w-icon-search"></i>
          <p>جستجو</p>
        </a>
        <form action="#" class="input-wrapper">
          <input
            type="text"
            class="form-control"
            name="search"
            autocomplete="off"
            placeholder="جستجو"
            required
          />
          <button class="btn btn-search" type="submit">
            <i class="w-icon-search"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- End of Sticky Footer -->

    <!-- Start of Scroll Top -->
    <a id="scroll-top" class="scroll-top" href="#top" title="Top" role="button">
      <i class="w-icon-angle-up"></i>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
        <circle
          id="progress-indicator"
          fill="transparent"
          stroke="#000000"
          stroke-miterlimit="10"
          cx="35"
          cy="35"
          r="34"
          style="stroke-dasharray: 16.4198, 400"
        ></circle>
      </svg>
    </a>
    <!-- End of Scroll Top -->

    <!-- Start of Mobile Menu -->
    <div class="mobile-menu-wrapper">
      <div class="mobile-menu-overlay"></div>
      <!-- End of .mobile-menu-overlay -->

      <a href="#" class="mobile-menu-close"><i class="close-icon"></i></a>
      <!-- End of .mobile-menu-close -->

      <div class="mobile-menu-container scrollable">
        <form action="#" method="get" class="input-wrapper">
          <input
            type="text"
            class="form-control"
            name="search"
            autocomplete="off"
            placeholder="جستجو"
            required
          />
          <button class="btn btn-search" type="submit">
            <i class="w-icon-search"></i>
          </button>
        </form>
        <!-- End of Search Form -->
        <div class="tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a href="#main-menu" class="nav-link active">منوی اصلی </a>
            </li>
            <li class="nav-item">
              <a href="#categories" class="nav-link">دسته بندیها </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="main-menu">
            <ul class="mobile-menu">
              <li><a href="{% url 'home_view' %}">خانه </a></li>
              <li>
                <a href="shop-banner-sidebar.html">فروشگاه </a>
                <ul>
                  <li>
                    <a href="#">صفحات فروشگاه </a>
                    <ul>
                      <li>
                        <a href="shop-banner-sidebar.html">بنر با نوار کناری</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">چیدمان فروشگاه </a>
                    <ul>
                      <li>
                        <a href="shop-grid-3cols.html">3 حالت ستون ها </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="vendor-dokan-store.html">فروشنده </a>
                <ul>
                  <li>
                    <a href="#">لیست فروشگاه </a>
                    <ul>
                      <li>
                        <a href="vendor-dokan-store-list.html"
                          >فهرست فروشگاه 1</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="about-us.html">صفحات </a>
                <ul>
                  <li><a href="{% url 'about_view' %}">درباره ما </a></li>
                  <li><a href="{% url 'contact_view' %}">تماس با ما </a></li>
                  <li><a href="{% url 'wishlist' %}">علاقه مندیها </a></li>
                  <li><a href="{% url 'cart' %}">سبد خرید </a></li>
                  <li><a href="{% url 'checkout' %}">پرداخت </a></li>
                  <li><a href="accounts/">حساب من </a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="tab-pane" id="categories">
            <ul class="mobile-menu">
              <li>
                <a href="shop-fullwidth-banner.html">
                  <i class="w-icon-tshirt2"></i>مدل
                </a>
                <ul>
                  <li>
                    <a href="#">زنانه </a>
                    <ul>
                      <li>
                        <a href="shop-fullwidth-banner.html">تازه رسیده ها </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">زنانه </a>
                    <ul>
                      <li>
                        <a href="shop-fullwidth-banner.html">تازه رسیده ها </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="shop-fullwidth-banner.html">
                  <i class="w-icon-electronics"></i>الکترونیک
                </a>
                <ul>
                  <li>
                    <a href="#">لپ تاپ و کامپیوتر</a>
                    <ul>
                      <li>
                        <a href="shop-fullwidth-banner.html"
                          >کامپیوترهای رومیزی</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a
                  href="shop-banner-sidebar.html"
                  class="font-weight-bold text-primary text-uppercase ls-25"
                >
                  نمایش همه دسته بندیها <i class="w-icon-angle-left"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Mobile Menu -->

    <!-- Start of Newsletter popup -->
    <div class="newsletter-popup mfp-hide">
      <div class="newsletter-content">
        <h4 class="text-uppercase font-weight-normal ls-25">
          دریافت کنید<span class="text-primary">25% تخفیف</span>
        </h4>
        <h2 class="ls-25">در وولمارت ثبت نام کنید</h2>
        <p class="text-light ls-10">
          برای دریافت به‌روزرسانی‌های پیشنهادات ویژه، در خبرنامه بازار وولمارت
          مشترک شوید.
        </p>
        <form
          action="#"
          method="get"
          class="input-wrapper input-wrapper-inline input-wrapper-round"
        >
          <input
            type="email"
            class="form-control email font-size-md"
            name="email"
            id="email2"
            placeholder="آدرس ایمیل شما "
            required=""
          />
          <button class="btn btn-dark" type="submit">ارسال</button>
        </form>
        <div class="form-checkbox d-flex align-items-center">
          <input
            type="checkbox"
            class="custom-checkbox"
            id="hide-newsletter-popup"
            name="hide-newsletter-popup"
            required=""
          />
          <label for="hide-newsletter-popup" class="font-size-sm text-light"
            >دیگر این پنجره بازشو نشان داده نشود.</label
          >
        </div>
      </div>
    </div>
    <!-- End of Newsletter popup -->

    <!-- Start of Quick View -->
    <div class="product product-single product-popup">
      <div class="row gutter-lg">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="product-gallery product-gallery-sticky">
            <div
              class="swiper-container product-single-swiper swiper-theme nav-inner"
            >
              <div class="swiper-wrapper row cols-1 gutter-no">
                <div class="swiper-slide">
                  <figure class="product-image">
                    <img
                      src="{% static '' %}images/products/popup/1-440x494.jpg"
                      data-zoom-image="{% static '' %}images/products/popup/1-800x900.jpg"
                      alt="Water Boil Black Utensil"
                      width="800"
                      height="900"
                    />
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure class="product-image">
                    <img
                      src="{% static '' %}images/products/popup/2-440x494.jpg"
                      data-zoom-image="{% static '' %}images/products/popup/2-800x900.jpg"
                      alt="Water Boil Black Utensil"
                      width="800"
                      height="900"
                    />
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure class="product-image">
                    <img
                      src="{% static '' %}images/products/popup/3-440x494.jpg"
                      data-zoom-image="{% static '' %}images/products/popup/3-800x900.jpg"
                      alt="Water Boil Black Utensil"
                      width="800"
                      height="900"
                    />
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure class="product-image">
                    <img
                      src="{% static '' %}images/products/popup/4-440x494.jpg"
                      data-zoom-image="{% static '' %}images/products/popup/4-800x900.jpg"
                      alt="Water Boil Black Utensil"
                      width="800"
                      height="900"
                    />
                  </figure>
                </div>
              </div>
              <button class="swiper-button-next"></button>
              <button class="swiper-button-prev"></button>
            </div>
            <div
              class="product-thumbs-wrap swiper-container"
              data-swiper-options="{
                        'navigation': {
                            'nextEl': '.swiper-button-next',
                            'prevEl': '.swiper-button-prev'
                        }
                    }"
            >
              <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
                <div class="product-thumb swiper-slide">
                  <img
                    src="{% static '' %}images/products/popup/1-103x116.jpg"
                    alt="Product Thumb"
                    width="103"
                    height="116"
                  />
                </div>
                <div class="product-thumb swiper-slide">
                  <img
                    src="{% static '' %}images/products/popup/2-103x116.jpg"
                    alt="Product Thumb"
                    width="103"
                    height="116"
                  />
                </div>
                <div class="product-thumb swiper-slide">
                  <img
                    src="{% static '' %}images/products/popup/3-103x116.jpg"
                    alt="Product Thumb"
                    width="103"
                    height="116"
                  />
                </div>
                <div class="product-thumb swiper-slide">
                  <img
                    src="{% static '' %}images/products/popup/4-103x116.jpg"
                    alt="Product Thumb"
                    width="103"
                    height="116"
                  />
                </div>
              </div>
              <button class="swiper-button-next"></button>
              <button class="swiper-button-prev"></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 overflow-hidden p-relative">
          <div class="product-details scrollable pl-0">
            <h2 class="product-title">ساعت مچی مشکی الکترونیکی</h2>
            <div class="product-bm-wrapper">
              <figure class="brand">
                <img
                  src="{% static '' %}images/products/brand/brand-1.jpg"
                  alt="Brand"
                  width="102"
                  height="48"
                />
              </figure>
              <div class="product-meta">
                <div class="product-categories">
                  دسته بندی:
                  <span class="product-category"
                    ><a href="#">الکترونیک </a></span
                  >
                </div>
                <div class="product-sku">کد: <span>MS46891340</span></div>
              </div>
            </div>

            <hr class="product-divider" />

            <div class="product-price">80000 تومان</div>

            <div class="ratings-container">
              <div class="ratings-full">
                <span class="ratings" style="width: 80%"></span>
                <span class="tooltiptext tooltip-top"></span>
              </div>
              <a href="#" class="rating-reviews">(3 نظر )</a>
            </div>

            <div class="product-short-desc">
              <ul class="list-type-check list-style-none">
                <li>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                  استفاده از طراحان گرافیک است. با تولید سادگی نامفهوم از صنعت
                  چاپ و با استفاده از طراحان گرافیک است..
                </li>
                <li>
                  چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                  است و برای شرایط فعلی.
                </li>
                <li>
                  مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                  پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد..
                </li>
              </ul>
            </div>

            <hr class="product-divider" />

            <div
              class="product-form product-variation-form product-color-swatch"
            >
              <label>رنگ :</label>
              <div class="d-flex align-items-center product-variations">
                <a href="#" class="color" style="background-color: #ffcc01"></a>
                <a href="#" class="color" style="background-color: #ca6d00"></a>
                <a href="#" class="color" style="background-color: #1c93cb"></a>
                <a href="#" class="color" style="background-color: #ccc"></a>
                <a href="#" class="color" style="background-color: #333"></a>
              </div>
            </div>
            <div
              class="product-form product-variation-form product-size-swatch"
            >
              <label class="mb-1">سایز :</label>
              <div
                class="flex-wrap d-flex align-items-center product-variations"
              >
                <a href="#" class="size">کوچک </a>
                <a href="#" class="size">متوسط </a>
                <a href="#" class="size">بزرگ </a>
                <a href="#" class="size">خبلی بزرگ </a>
              </div>
              <a href="#" class="product-variation-clean">پاک کردن همه </a>
            </div>

            <div class="product-variation-price">
              <span></span>
            </div>

            <div class="product-form">
              <div class="product-qty-form">
                <div class="input-group">
                  <input
                    class="quantity form-control"
                    type="number"
                    min="1"
                    max="10000000"
                  />
                  <button class="quantity-plus w-icon-plus"></button>
                  <button class="quantity-minus w-icon-minus"></button>
                </div>
              </div>
              <button class="btn btn-primary btn-cart">
                <i class="w-icon-cart"></i>
                <span>افزودن به سبد </span>
              </button>
            </div>

            <div class="social-links-wrapper">
              <div class="social-links">
                <div class="social-icons social-no-color border-thin">
                  <a
                    href="#"
                    class="social-icon social-facebook w-icon-facebook"
                  ></a>
                  <a
                    href="#"
                    class="social-icon social-twitter w-icon-twitter"
                  ></a>
                  <a
                    href="#"
                    class="social-icon social-pinterest fab fa-pinterest-p"
                  ></a>
                  <a
                    href="#"
                    class="social-icon social-whatsapp fab fa-whatsapp"
                  ></a>
                  <a
                    href="#"
                    class="social-icon social-youtube fab fa-linkedin-in"
                  ></a>
                </div>
              </div>
              <span class="divider d-xs-show"></span>
              <div class="product-link-wrapper d-flex">
                <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                  ><span></span
                ></a>
                <a
                  href="#"
                  class="btn-product-icon btn-compare btn-icon-left w-icon-compare"
                  ><span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Quick view -->

    <!-- Plugin JS File -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min' %}.js"></script>
    <script src="{% static 'vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/floating-parallax/parallax.min.js' %}"></script>
    <script src="{% static 'vendor/zoom/jquery.zoom.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static 'js/main.min.js' %}"></script>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
